@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
/* Variables */
:root {
  --font-size: 1rem;
}

.light-mode {
  --navbar-color: #222;
  --navbar-bg-color: #f0f0f0;
}

.dark_mode {
  --navbar-color: #fff;
  --navbar-bg-color: #000;
}

.jw_mode {
  --navbar-color: #f1e3f3;
  --navbar-bg-color: #5b0c71;
}

.brown_mode {
  --navbar-color: #f0e8e9;
  --navbar-bg-color: #491b0f;
}

.crimson_mode {
  --navbar-color: #e8cbcb;
  --navbar-bg-color: #b50f0f;
}

.green_mode {
  --navbar-color: #dbefd6;
  --navbar-bg-color: #2e9514;
}

.blue1_mode {
  --navbar-color: #1e1c6e;
  --navbar-bg-color: #d1d0eb;
}

.blue2_mode {
  --navbar-color: #0b0a35;
  --navbar-bg-color: #807ce9;
}

.bistre_mode {
  --navbar-color: #3d2b1f;
  --navbar-bg-color: #e7bca0;
}

.firebrick_mode {
  --navbar-color: #b89b9b;
  --navbar-bg-color: #B22222;
}

.indigo_mode {
  --navbar-color: #aba3b1;
  --navbar-bg-color: #4B0082;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu ul {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu ul li {
  list-style: none;
  font-size: 1.2em;
  padding: 0 1em;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .menu ul li {
    padding: 0;
  }
}

/* Reset */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  scrollbar-color: --navbar-color --navbar-bg-color;
}

ul {
  list-style: none;
}

/* Basic style */
body {
  margin: 0;
  font-size: var(--font-size);
  font-family: "Poppins", sans-serif;
}

.main-content {
  padding: 1rem;
}

/* Navbar */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  font-size: 1.1rem;
  background: var(--navbar-bg-color);
  color: var(--navbar-color);
}

.navbar ul li {
  list-style: none;
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__link {
  padding: 0 10px;
}

.navbar__logo {
  color: var(--navbar-color);
  text-decoration: none;
}

li {
  margin: 0;
}

.navbar__link > a {
  color: var(--navbar-color);
  text-decoration: none;
}

.burger {
  display: none;
}

/*  Small device */
@media screen and (max-width: 767.98px) {
  .navbar__links {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 0;
    height: calc(100vh - 65px);
    position: absolute;
    top: 65px;
    right: 0;
    background: var(--navbar-bg-color);
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .show-nav .navbar__links {
    width: 100vw;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .navbar__link {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .show-nav .navbar__link {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .navbar__link > a {
    display: block;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--navbar-color);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .navbar__link > a:hover {
    padding-left: 2rem;
    letter-spacing: 5px;
  }
  /* Toggle menu */
  .burger {
    display: block;
    position: relative;
    padding: 0;
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 3px;
    background: var(--navbar-color);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .bar::before,
  .bar::after {
    content: "";
    width: 45px;
    height: 4px;
    position: absolute;
    left: 0;
    background: var(--navbar-color);
    border-radius: 3px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .bar::before {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  .bar::after {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  .show-nav .bar {
    width: 0;
    background: transparent;
  }
  .show-nav .bar::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .show-nav .bar::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  /* Bonus - Animations */
  .show-nav .first {
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  .show-nav .second {
    -webkit-transition: all 1.1s ease-out;
    transition: all 1.1s ease-out;
  }
  .show-nav .third {
    -webkit-transition: all 1.2s ease-out;
    transition: all 1.2s ease-out;
  }
  .show-nav .four {
    -webkit-transition: all 1.3s ease-out;
    transition: all 1.3s ease-out;
  }
  .show-nav .fifth {
    -webkit-transition: all 1.4s ease-out;
    transition: all 1.4s ease-out;
  }
}

/*  Medium device - Bonus */
@media screen and (min-width: 768px) {
  .navbar__link > a::after {
    display: block;
    content: "";
    width: 0;
    height: 1px;
    background: var(--navbar-color);
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
  }
  .navbar__link:hover > a::after {
    width: 100%;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 2.5rem;
  bottom: 0;
  opacity: 0.8;
  text-align: center;
  background-color: var(--navbar-bg-color);
  color: var(--navbar-color);
}

footer span {
  font-weight: bold;
  padding: 0 10px;
}

.f-light-green {
  color: #6ff46f;
}

.f-light-blue {
  color: #cbbceb;
}
/*# sourceMappingURL=menu.css.map */