aside {
  z-index: 5;
  position: fixed;
  right: 0;
  top: 4em;
  width: 2.5em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  background-color: #413f3f;
  color: white;
  border-radius: 10px 0 0 10px;
  // text-align: center;
  transition: 700ms all ease;

  &:hover {
    transition: 200ms all ease;
    width: 13em;
    background-color: black;
  }
  div {
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    white-space: nowrap;
    span {
      &:nth-child(1) {
        margin-right: 20px;
      }
    }
  }
  a {
    text-decoration: none;
    color: white;
    transition: 400ms all ease;
    &:hover {
      color: orange;
      transition: 100ms all ease;
    }
  }
}

.response {
  background-color: #ffffffc5;
  padding: 10px;
  width: 100%;
  height: 30%;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  button {
    width: 80px;
  }
}

#response {
  max-width: 90%;
}

.form1 {
  // background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  margin: 10vw 0 0 35vw;
  padding: 3em;
  width: 50vw;
  text-align: center;
  h2 {
    font-size: 2rem;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  input {
    padding: 10px;
    min-width: 20vw;
    &:focus {
      border: 2px solid purple;
    }
  }
  button {
    width: 100px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    background: #e0e0e0;
    box-shadow: 14px 14px 29px #c3c3c3, -14px -14px 29px #fdfdfd;
    &:focus {
      box-shadow: 14px 14px 29px #fdfdfd, -14px -14px 29px #c3c3c3;
    }
  }
}

.calendarTable {
  // border: none;
  border-collapse: collapse;
  border-radius: 10px;
  background-color: #ffffffaf;
  height: 100%;

  @media screen and (max-width: 1000px) {
    height: auto;
  }

  td {
    // border: 1px solid black;
    width: 7%;
  }

  thead {
    text-align: center;
    margin: 0;
    height: 25px;

    tr {
      &:nth-child(1) {
        height: 40px;
        font-weight: bold;
        font-size: 1.1rem;
      }
      &:nth-child(2) {
        height: 25px;
        font-weight: bold;
        font-size: 0.8rem;
        border-bottom: 1px solid black;
      }
    }
  }

  tbody {
    tr,
    td {
      text-align: center;
      margin: 0;
      height: 25px;
    }

    td {
      border-radius: 10px;
      transition: 500ms all ease;

      &:hover {
        background-color: #f5d496;
        transition: 100ms all ease;
      }
    }
  }
}

#previousMonth,
#nextMonth {
  cursor: pointer;
}

.events {
  display: flex;
  justify-content: center;
  align-items: center;
  // overflow-y: scroll;

  table {
    overflow-y: scroll;
    width: 80%;
    border-collapse: collapse;

    @media screen and (max-width: 1000px) {
      width: 100%;
    }

    td {
      text-align: center;
      padding: 5px;

      &:nth-child(2) {
        text-align: left;
      }
    }

    tr {
      transition: 400ms all ease;

      &:nth-child(odd) {
        background-color: white;
      }

      &:nth-child(even) {
        background-color: #ffffff6c;
      }

      &:hover {
        transition: 100ms all ease;
        background-color: #ffda8a;
      }
    }
  }
}

.premium {
  caret-color: transparent;
  margin: 0 10% 3em 10%;

  h1 {
    text-align: center;
    font-size: 2rem;
    margin: 1.5em 0;
    text-shadow: 2px 4px 8px black;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
  }

  .prem_table {
    width: 60%;

    td {
      &:nth-child(1),
      &:nth-child(2) {
        min-width: 100px;
      }
    }

    tbody tr {
      transition: 600ms all ease;

      &:hover {
        transition: 100ms all ease;
        background-color: #ffa600bb;
      }
    }

    thead td {
      padding: 10px;
      font-weight: bold;
      font-size: 1.1rem;
    }

    tbody td {
      padding: 10px;
      background-color: #ffffffd2;
      border-radius: 5px;
    }
  }

  img {
    width: 15em;

    @media screen and (max-width: 400px) {
      width: 10em;
    }
  }

  p {
    width: 60%;

    @media screen and (max-width: 1000px) {
      width: 100%;
    }
  }

  ul {
    padding: 1em 4em;
    border: 1px solid black;
    box-shadow: 2px 4px 15px #a2a1a1;
    background-color: #ffffffa2;

    @media screen and (max-width: 400px) {
      padding: 1em 2em;
    }
  }
}

.payments {
  width: 40%;
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 768px) {
    width: 70%;
    margin-left: 15%;
  }
}

.payment {
  width: 100%;
  text-align: center;
  // display: none;
}

.mentions {
  width: 70%;
  margin-left: 15%;

  @media screen and (max-width: 768px) {
    width: 90%;
    margin-left: 5%;
  }

  h1 {
    text-align: center;
    font-size: 2rem;
    margin: 1.5em 0;
    text-shadow: 2px 4px 8px black;
  }

  p {
    text-align: justify;
    margin-bottom: 1em;
    text-indent: 15px;
  }
}

.carousel {
  position: relative;
  margin-bottom: 3em;
  caret-color: transparent;
  width: 100%;
  text-align: center;

  div {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }

  span {
    display: flex;
    justify-content: center;
    gap: 2em;

    img {
      width: 30px;
    }
  }
}

#interests1,
#interests2 {
  text-align: center;
  font-family: "House";
  font-size: 3.5rem;
  animation: 1100ms slideUp;

  @media screen and (max-width: 768px) {
    font-size: 3rem;
  }
}

.img {
  width: auto;
  height: 55vh;
  display: none;
  border-radius: 15px;

  @media screen and (max-width: 768px) {
    width: 70%;
    height: auto;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
}

.admin {
  caret-color: transparent;
  display: flex;
  width: 96%;
  height: 90vh;
  margin: 2%;
  gap: 1em;

  section {
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ffffffb4;
    padding: 1em;

    &:nth-child(1) {
      width: 30%;
      display: flex;
      gap: 2em;
      flex-direction: column;
      align-items: center;
    }

    &:nth-child(2) {
      width: 67%;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      gap: 2em;
    }
  }
}

#showConx {
  cursor: pointer;
}

.main {
  display: none;
}

.membersInterface {
  caret-color: transparent;
  display: flex;
  justify-content: flex-start;

  @media screen and (max-width: 700px) {
    flex-direction: column;
  }

  section {
    height: 92vh;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ffffffb8;
    margin: 10px;
    padding: 1em;

    &:nth-child(1) {
      width: 30%;

      @media screen and (max-width: 700px) {
        height: auto;
      }

      h1 {
        margin-bottom: 1em;
        text-align: center;
      }
    }

    &:nth-child(2) {
      width: 64%;
      overflow-y: scroll;
    }

    &:nth-child(1),
    &:nth-child(2) {
      @media screen and (max-width: 700px) {
        width: 92%;
      }
    }
  }

  button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ffffffe4;
    box-shadow: 0 4px 5px #666464;
    transition: 500ms all ease;

    &:hover {
      transition: 100ms all ease;
      transform: translateY(4px);
      box-shadow: none;
    }

    &:focus {
      background-color: white;
    }
  }
}

.membersForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    margin-bottom: 20px;
    text-align: center;
    padding: 7px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 5px #7a7a7a;
  }
}

.membersTable {
  border: none;
  width: 90%;
  margin-left: 5%;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: 0;
  }

  @media screen and (max-width: 400px) {
    display: none;
  }

  thead td {
    text-align: center;
    padding: 2px;
    font-weight: bold;
  }

  tbody {
    tr {
      transition: 500ms all ease;

      &:hover {
        transition: 100ms all ease;
        background-color: #ffa600c0;
      }
    }

    td {
      text-align: center;
      background-color: #ffffffaf;
      border-radius: 5px;
      font-size: 0.9rem;
      padding: 2px 0;
    }
  }
}

.active {
  display: block;
  animation: 800ms fade;
}
