aside {
  z-index: 5;
  position: fixed;
  right: 0;
  top: 4em;
  width: 2.5em;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
  background-color: #413f3f;
  color: white;
  border-radius: 10px 0 0 10px;
  -webkit-transition: 700ms all ease;
  transition: 700ms all ease;
}

aside:hover {
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
  width: 13em;
  background-color: black;
}

aside div {
  padding: 10px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

aside div span:nth-child(1) {
  margin-right: 20px;
}

aside a {
  text-decoration: none;
  color: white;
  -webkit-transition: 400ms all ease;
  transition: 400ms all ease;
}

aside a:hover {
  color: orange;
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
}

.response {
  background-color: #ffffffc5;
  padding: 10px;
  width: 100%;
  height: 30%;
  border: 1px solid black;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.response button {
  width: 80px;
}

#response {
  max-width: 90%;
}

.form1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4em;
  margin: 10vw 0 0 35vw;
  padding: 3em;
  width: 50vw;
  text-align: center;
}

.form1 h2 {
  font-size: 2rem;
}

.form1 section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.form1 input {
  padding: 10px;
  min-width: 20vw;
}

.form1 input:focus {
  border: 2px solid purple;
}

.form1 button {
  width: 100px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  font-size: 1.1rem;
  background: #e0e0e0;
  -webkit-box-shadow: 14px 14px 29px #c3c3c3, -14px -14px 29px #fdfdfd;
          box-shadow: 14px 14px 29px #c3c3c3, -14px -14px 29px #fdfdfd;
}

.form1 button:focus {
  -webkit-box-shadow: 14px 14px 29px #fdfdfd, -14px -14px 29px #c3c3c3;
          box-shadow: 14px 14px 29px #fdfdfd, -14px -14px 29px #c3c3c3;
}

.calendarTable {
  border-collapse: collapse;
  border-radius: 10px;
  background-color: #ffffffaf;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .calendarTable {
    height: auto;
  }
}

.calendarTable td {
  width: 7%;
}

.calendarTable thead {
  text-align: center;
  margin: 0;
  height: 25px;
}

.calendarTable thead tr:nth-child(1) {
  height: 40px;
  font-weight: bold;
  font-size: 1.1rem;
}

.calendarTable thead tr:nth-child(2) {
  height: 25px;
  font-weight: bold;
  font-size: 0.8rem;
  border-bottom: 1px solid black;
}

.calendarTable tbody tr,
.calendarTable tbody td {
  text-align: center;
  margin: 0;
  height: 25px;
}

.calendarTable tbody td {
  border-radius: 10px;
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
}

.calendarTable tbody td:hover {
  background-color: #f5d496;
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
}

#previousMonth,
#nextMonth {
  cursor: pointer;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.events table {
  overflow-y: scroll;
  width: 80%;
  border-collapse: collapse;
}

@media screen and (max-width: 1000px) {
  .events table {
    width: 100%;
  }
}

.events table td {
  text-align: center;
  padding: 5px;
}

.events table td:nth-child(2) {
  text-align: left;
}

.events table tr {
  -webkit-transition: 400ms all ease;
  transition: 400ms all ease;
}

.events table tr:nth-child(odd) {
  background-color: white;
}

.events table tr:nth-child(even) {
  background-color: #ffffff6c;
}

.events table tr:hover {
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
  background-color: #ffda8a;
}

.premium {
  caret-color: transparent;
  margin: 0 10% 3em 10%;
}

.premium h1 {
  text-align: center;
  font-size: 2rem;
  margin: 1.5em 0;
  text-shadow: 2px 4px 8px black;
}

.premium div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  text-align: center;
}

.premium .prem_table {
  width: 60%;
}

.premium .prem_table td:nth-child(1), .premium .prem_table td:nth-child(2) {
  min-width: 100px;
}

.premium .prem_table tbody tr {
  -webkit-transition: 600ms all ease;
  transition: 600ms all ease;
}

.premium .prem_table tbody tr:hover {
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
  background-color: #ffa600bb;
}

.premium .prem_table thead td {
  padding: 10px;
  font-weight: bold;
  font-size: 1.1rem;
}

.premium .prem_table tbody td {
  padding: 10px;
  background-color: #ffffffd2;
  border-radius: 5px;
}

.premium img {
  width: 15em;
}

@media screen and (max-width: 400px) {
  .premium img {
    width: 10em;
  }
}

.premium p {
  width: 60%;
}

@media screen and (max-width: 1000px) {
  .premium p {
    width: 100%;
  }
}

.premium ul {
  padding: 1em 4em;
  border: 1px solid black;
  -webkit-box-shadow: 2px 4px 15px #a2a1a1;
          box-shadow: 2px 4px 15px #a2a1a1;
  background-color: #ffffffa2;
}

@media screen and (max-width: 400px) {
  .premium ul {
    padding: 1em 2em;
  }
}

.payments {
  width: 40%;
  margin-left: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .payments {
    width: 70%;
    margin-left: 15%;
  }
}

.payment {
  width: 100%;
  text-align: center;
}

.description {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.description p {
  text-align: justify;
}

.mentions {
  width: 70%;
  margin-left: 15%;
}

@media screen and (max-width: 768px) {
  .mentions {
    width: 90%;
    margin-left: 5%;
  }
}

.mentions h1 {
  text-align: center;
  font-size: 2rem;
  margin: 1.5em 0;
  text-shadow: 2px 4px 8px black;
}

.mentions p {
  text-align: justify;
  margin-bottom: 1em;
  text-indent: 15px;
}

.carousel {
  position: relative;
  margin-bottom: 3em;
  caret-color: transparent;
  width: 100%;
  text-align: center;
}

.carousel div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2em;
}

.carousel span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
}

.carousel span img {
  width: 30px;
}

#interests1,
#interests2 {
  text-align: center;
  font-family: "House";
  font-size: 3.5rem;
  -webkit-animation: 1100ms slideUp;
          animation: 1100ms slideUp;
}

@media screen and (max-width: 768px) {
  #interests1,
  #interests2 {
    font-size: 3rem;
  }
}

.img {
  width: auto;
  height: 55vh;
  display: none;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  .img {
    width: 70%;
    height: auto;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
}

.admin {
  caret-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 96%;
  height: 90vh;
  margin: 2%;
  gap: 1em;
}

.admin section {
  height: 100%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ffffffb4;
  padding: 1em;
}

.admin section:nth-child(1) {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin section:nth-child(2) {
  width: 67%;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
}

#showConx {
  cursor: pointer;
}

.main {
  display: none;
}

.membersInterface {
  caret-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 700px) {
  .membersInterface {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.membersInterface section {
  height: 92vh;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ffffffb8;
  margin: 10px;
  padding: 1em;
}

.membersInterface section:nth-child(1) {
  width: 30%;
}

@media screen and (max-width: 700px) {
  .membersInterface section:nth-child(1) {
    height: auto;
  }
}

.membersInterface section:nth-child(1) h1 {
  margin-bottom: 1em;
  text-align: center;
}

.membersInterface section:nth-child(2) {
  width: 64%;
  overflow-y: scroll;
}

@media screen and (max-width: 700px) {
  .membersInterface section:nth-child(1), .membersInterface section:nth-child(2) {
    width: 92%;
  }
}

.membersInterface button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ffffffe4;
  -webkit-box-shadow: 0 4px 5px #666464;
          box-shadow: 0 4px 5px #666464;
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
}

.membersInterface button:hover {
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.membersInterface button:focus {
  background-color: white;
}

.membersForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.membersForm input {
  margin-bottom: 20px;
  text-align: center;
  padding: 7px;
  border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 5px #7a7a7a;
          box-shadow: inset 1px 1px 5px #7a7a7a;
}

.membersTable {
  border: none;
  width: 90%;
  margin-left: 5%;
}

@media screen and (max-width: 768px) {
  .membersTable {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .membersTable {
    display: none;
  }
}

.membersTable thead td {
  text-align: center;
  padding: 2px;
  font-weight: bold;
}

.membersTable tbody tr {
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
}

.membersTable tbody tr:hover {
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
  background-color: #ffa600c0;
}

.membersTable tbody td {
  text-align: center;
  background-color: #ffffffaf;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 2px 0;
}

.active {
  display: block;
  -webkit-animation: 800ms fade;
          animation: 800ms fade;
}

#previousMonth,
#nextMonth {
  width: 25px;
  height: 25px;
  padding: 6px;
  border-radius: 50%;
  -webkit-transition: 700ms all ease;
  transition: 700ms all ease;
}

#previousMonth:hover,
#nextMonth:hover {
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
  background-color: #5d3f0e56;
  border-radius: 20px;
}

.groups {
  caret-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.groups h1 {
  margin-bottom: 1em;
}

.groups li {
  text-align: center;
  padding: 4px;
  margin: 5px;
  border-radius: 4px;
  background-color: #e2cfaa;
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
}

.groups li:hover {
  background-color: #e7c47e;
  -webkit-transition: 50ms all ease;
  transition: 50ms all ease;
}

.groups div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em;
}

.groups div span {
  max-width: 20%;
  min-width: 150px;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  background-color: #5c1144;
  color: white;
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
}

.groups div span:hover {
  -webkit-transition: 50ms all ease;
  transition: 50ms all ease;
  background-color: #170311;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.groups div span a {
  color: white;
}

.groups form {
  margin-bottom: 2em;
}

.groups form input,
.groups form button {
  padding: 10px;
}

.groups form input {
  caret-color: purple;
}

.myActivity {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  margin-bottom: 15em;
}

.myActivity h1 {
  margin: 50px;
  font-family: "Propagan";
  font-size: 5rem;
  font-weight: normal;
  text-align: center;
  padding: 20px 80px;
  border-radius: 40px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.myActivity img {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 20%;
  z-index: -1;
}

.myActivity div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

.myActivity div p {
  width: 70%;
  text-align: justify;
  text-indent: 1em;
  font-family: "Quicksand";
}

@media screen and (max-width: 768px) {
  .myActivity div p {
    width: 80%;
  }
}

.myActivity div ul:nth-child(1) {
  width: auto;
  margin-bottom: 2em;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em;
  background-color: #7dc67dba;
}

.myActivity div ul:nth-child(1) li {
  font-size: 1.2rem;
  text-align: center;
}

.myActivity div ul:nth-child(1) li span:first-child {
  font-weight: bold;
}

.myActivity div ul:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  padding: 1em;
  background-color: #7dc67dba;
}

.myActivity div ul:nth-child(2) a {
  color: black;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
  padding: 4px;
  border-radius: 4px;
}

.myActivity div ul:nth-child(2) a:hover {
  -webkit-transition: 50ms all ease;
  transition: 50ms all ease;
  background-color: #0e360eba;
  color: #f7fff7ba;
}
/*# sourceMappingURL=parts.css.map */