.btn9 {
  margin-top: 3em;
  background: linear-gradient(60deg, #dddddd, white, #dddddd);
  padding: 20px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 5px grey;
          box-shadow: 0 4px 5px grey;
  font-weight: bold;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
}

.btn9:hover {
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

aside {
  z-index: 5;
  position: fixed;
  right: 0;
  top: 4em;
  width: 2.5em;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
  background-color: #413f3f;
  color: white;
  border-radius: 10px 0 0 10px;
  -webkit-transition: 700ms all ease;
  transition: 700ms all ease;
}

aside:hover {
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
  width: 13em;
  background-color: black;
}

aside div {
  padding: 10px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

aside div span:nth-child(1) {
  margin-right: 20px;
}

aside a {
  text-decoration: none;
  color: white;
  -webkit-transition: 400ms all ease;
  transition: 400ms all ease;
}

aside a:hover {
  color: orange;
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
}

.response {
  background-color: #ffffffc5;
  padding: 10px;
  width: 100%;
  height: 30%;
  border: 1px solid black;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.response button {
  width: 80px;
}

#response {
  max-width: 90%;
}

.form1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4em;
  margin: 10vw 0 0 35vw;
  padding: 3em;
  width: 50vw;
  text-align: center;
}

.form1 h2 {
  font-size: 2rem;
}

.form1 section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.form1 input {
  padding: 10px;
  min-width: 20vw;
}

.form1 input:focus {
  border: 2px solid purple;
}

.form1 button {
  width: 100px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  font-size: 1.1rem;
  background: #e0e0e0;
  -webkit-box-shadow: 14px 14px 29px #c3c3c3, -14px -14px 29px #fdfdfd;
          box-shadow: 14px 14px 29px #c3c3c3, -14px -14px 29px #fdfdfd;
}

.form1 button:focus {
  -webkit-box-shadow: 14px 14px 29px #fdfdfd, -14px -14px 29px #c3c3c3;
          box-shadow: 14px 14px 29px #fdfdfd, -14px -14px 29px #c3c3c3;
}

.calendarTable {
  border-collapse: collapse;
  border-radius: 10px;
  background-color: #ffffffaf;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .calendarTable {
    height: auto;
  }
}

.calendarTable td {
  width: 7%;
  cursor: pointer;
}

.calendarTable thead {
  text-align: center;
  margin: 0;
  height: 25px;
}

.calendarTable thead tr:nth-child(1) {
  height: 40px;
  font-weight: bold;
  font-size: 1.1rem;
}

.calendarTable thead tr:nth-child(2) {
  height: 25px;
  font-weight: bold;
  font-size: 0.8rem;
  border-bottom: 1px solid black;
}

.calendarTable tbody tr,
.calendarTable tbody td {
  text-align: center;
  margin: 0;
  height: 25px;
}

.calendarTable tbody td {
  border-radius: 10px;
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
}

.calendarTable tbody td:hover {
  background-color: #f5d496;
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
}

#previousMonth,
#nextMonth {
  cursor: pointer;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.events table {
  overflow-y: scroll;
  width: 80%;
  border-collapse: collapse;
}

@media screen and (max-width: 1000px) {
  .events table {
    width: 100%;
  }
}

.events table td {
  text-align: center;
  padding: 5px;
}

.events table td:nth-child(2) {
  text-align: left;
}

.events table tr {
  -webkit-transition: 400ms all ease;
  transition: 400ms all ease;
}

.events table tr:nth-child(odd) {
  background-color: white;
}

.events table tr:nth-child(even) {
  background-color: #ffffff6c;
}

.events table tr:hover {
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
  background-color: #ffda8a;
}

.premium {
  caret-color: transparent;
  margin: 0 10% 3em 10%;
}

.premium h1 {
  text-align: center;
  font-size: 2rem;
  margin: 1.5em 0;
  text-shadow: 2px 4px 8px black;
}

.premium div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  text-align: center;
  margin-bottom: 2em;
}

.premium .prem_table {
  width: 60%;
}

.premium .prem_table td:nth-child(1), .premium .prem_table td:nth-child(2) {
  min-width: 100px;
}

.premium .prem_table tbody tr {
  -webkit-transition: 600ms all ease;
  transition: 600ms all ease;
}

.premium .prem_table tbody tr:hover {
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
  background-color: #ffa600bb;
}

.premium .prem_table thead td {
  padding: 10px;
  font-weight: bold;
  font-size: 1.1rem;
}

.premium .prem_table tbody td {
  padding: 10px;
  background-color: #ffffffd2;
  border-radius: 5px;
}

.premium img {
  width: 15em;
}

@media screen and (max-width: 400px) {
  .premium img {
    width: 10em;
  }
}

.premium p {
  width: 60%;
}

@media screen and (max-width: 1000px) {
  .premium p {
    width: 100%;
  }
}

.premium ul {
  list-style: circle;
  text-align: left;
  padding: 1em 4em;
  border: 1px solid black;
  -webkit-box-shadow: 2px 4px 15px #a2a1a1;
          box-shadow: 2px 4px 15px #a2a1a1;
  background-color: #ffffffa2;
}

@media screen and (max-width: 400px) {
  .premium ul {
    padding: 1em 2em;
  }
}

.payments {
  width: 40%;
  margin-left: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .payments {
    width: 70%;
    margin-left: 15%;
  }
}

.payment {
  width: 100%;
  text-align: center;
}

.description {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.description p {
  text-align: justify;
}

.mentions {
  width: 70%;
  margin-left: 15%;
}

@media screen and (max-width: 768px) {
  .mentions {
    width: 90%;
    margin-left: 5%;
  }
}

.mentions h1 {
  text-align: center;
  font-size: 2rem;
  margin: 1.5em 0;
  text-shadow: 2px 4px 8px black;
}

.mentions p {
  text-align: justify;
  margin-bottom: 1em;
  text-indent: 15px;
}

.carousel {
  position: relative;
  margin-bottom: 3em;
  caret-color: transparent;
  width: 100%;
  text-align: center;
}

.carousel div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2em;
}

.carousel span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
}

.carousel span img {
  width: 30px;
}

#interests1,
#interests2 {
  text-align: center;
  font-family: "House";
  font-size: 3.5rem;
  -webkit-animation: 1100ms slideUp;
          animation: 1100ms slideUp;
}

@media screen and (max-width: 768px) {
  #interests1,
  #interests2 {
    font-size: 3rem;
  }
}

.img {
  width: auto;
  height: 55vh;
  display: none;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  .img {
    width: 70%;
    height: auto;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
}

.admin {
  caret-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 96%;
  height: 90vh;
  margin: 2%;
  gap: 1em;
}

.admin section {
  width: 98%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ffffffb4;
  padding: 1em;
}

.admin section h1 {
  text-align: center;
}

.admin section:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin section:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  height: auto;
}

#showConx {
  cursor: pointer;
}

.main {
  display: none;
}

.membersInterface {
  caret-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .membersInterface {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.membersInterface section {
  height: 92vh;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ffffffb8;
  margin: 10px;
  padding: 1em;
}

.membersInterface section:nth-child(1) {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2em;
}

@media screen and (max-width: 768px) {
  .membersInterface section:nth-child(1) {
    height: auto;
  }
}

.membersInterface section:nth-child(1) h1 {
  margin-bottom: 1em;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .membersInterface section:nth-child(1) h1 {
    margin-bottom: 0;
  }
}

.membersInterface section:nth-child(2) {
  width: 64%;
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  .membersInterface section:nth-child(1), .membersInterface section:nth-child(2) {
    width: 92%;
  }
}

.membersInterface button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ffffffe4;
  -webkit-box-shadow: 0 4px 5px #666464;
          box-shadow: 0 4px 5px #666464;
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
}

.membersInterface button:hover {
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.membersInterface button:focus {
  background-color: white;
}

.membersInterface img {
  border-radius: 10px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .membersInterface img {
    max-width: 300px;
  }
}

.membersForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  padding: 1em 0;
  background-color: #ffffff30;
}

.membersForm label {
  margin-bottom: 10px;
}

.membersForm input {
  margin-bottom: 10px;
  text-align: center;
  padding: 7px;
  border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 5px #7a7a7a;
          box-shadow: inset 1px 1px 5px #7a7a7a;
}

.membersTable {
  border: none;
  width: 90%;
  margin-left: 5%;
}

@media screen and (max-width: 768px) {
  .membersTable {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .membersTable {
    display: none;
  }
}

.membersTable thead td {
  text-align: center;
  padding: 2px;
  font-weight: bold;
}

.membersTable tbody tr {
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
}

.membersTable tbody tr:hover {
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
  background-color: #ffa600c0;
}

.membersTable tbody td {
  text-align: center;
  background-color: #ffffffaf;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 2px 0;
}

.active {
  display: block;
  -webkit-animation: 800ms fade;
          animation: 800ms fade;
}

#previousMonth,
#nextMonth {
  width: 25px;
  height: 25px;
  padding: 6px;
  border-radius: 50%;
  -webkit-transition: 700ms all ease;
  transition: 700ms all ease;
}

#previousMonth:hover,
#nextMonth:hover {
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
  background-color: #5d3f0e56;
  border-radius: 20px;
}

.groups {
  caret-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.groups h1 {
  margin-bottom: 1em;
}

.groups li {
  text-align: center;
  padding: 4px;
  margin: 5px;
  border-radius: 4px;
  background-color: #e2cfaa;
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
}

.groups li:hover {
  background-color: #e7c47e;
  -webkit-transition: 50ms all ease;
  transition: 50ms all ease;
}

.groups div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em;
}

.groups div span {
  max-width: 20%;
  min-width: 150px;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  background-color: #5c1144;
  color: white;
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
}

.groups div span:hover {
  -webkit-transition: 50ms all ease;
  transition: 50ms all ease;
  background-color: #170311;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.groups div span a {
  color: white;
}

.groups form {
  margin-bottom: 2em;
}

.groups form input,
.groups form button {
  padding: 10px;
}

.groups form input {
  caret-color: purple;
}

.myActivity {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  margin-bottom: 15em;
}

.myActivity h1 {
  margin: 50px;
  font-family: "Propagan";
  font-size: 5rem;
  font-weight: normal;
  text-align: center;
  padding: 20px 80px;
  border-radius: 40px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.myActivity img {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 20%;
  z-index: -1;
}

.myActivity div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

.myActivity div p {
  width: 70%;
  text-align: justify;
  text-indent: 1em;
  font-family: "Quicksand";
}

@media screen and (max-width: 768px) {
  .myActivity div p {
    width: 80%;
  }
}

.myActivity div ul:nth-child(1) {
  width: auto;
  margin-bottom: 2em;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em;
  background-color: #7dc67dba;
}

.myActivity div ul:nth-child(1) li {
  font-size: 1.2rem;
  text-align: center;
}

.myActivity div ul:nth-child(1) li span:first-child {
  font-weight: bold;
}

.myActivity div ul:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  padding: 1em;
  background-color: #7dc67dba;
}

.myActivity div ul:nth-child(2) a {
  color: black;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
  padding: 4px;
  border-radius: 4px;
}

.myActivity div ul:nth-child(2) a:hover {
  -webkit-transition: 50ms all ease;
  transition: 50ms all ease;
  background-color: #0e360eba;
  color: #f7fff7ba;
}

.profil {
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.profil div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profil div:nth-child(1) {
  display: block;
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 50%;
}

.profil div:nth-child(1) img {
  text-align: center;
  height: 100%;
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
}

.profil div:nth-child(1) img:hover {
  -webkit-transition: 400ms all ease;
  transition: 400ms all ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.profil div:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 2em;
}

@media screen and (max-width: 768px) {
  .profil div:nth-child(2) {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
  }
  .profil div:nth-child(2) span,
  .profil div:nth-child(2) a {
    border-radius: 10px;
    padding: 10px;
  }
  .profil div:nth-child(2) a {
    border: 1px solid black;
    background-color: #ffffffa9;
  }
}

.profil div:nth-child(2) span,
.profil div:nth-child(2) a {
  font-weight: bold;
  -webkit-transition: 400ms all ease;
  transition: 400ms all ease;
  color: black;
  cursor: pointer;
}

.profil div:nth-child(2) span:hover,
.profil div:nth-child(2) a:hover {
  -webkit-transition: 50ms all ease;
  transition: 50ms all ease;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: purple;
}

.profil1 {
  font-size: 1.2rem;
  margin-bottom: 10em;
}

.profil1 img {
  width: 30%;
  margin-left: 35%;
  border: 10px groove brown;
  margin-bottom: 2em;
}

.profil1 li {
  list-style: circle;
  margin-left: 3em;
}

.status_all {
  background: linear-gradient(45deg, white, #ababe49e, #504f4fdf);
  border: 10px solid red;
}

.status_silver {
  background: linear-gradient(45deg, white, grey);
  border: 10px solid #535151;
}

.status_gold {
  background: linear-gradient(45deg, white, #ffdd1a);
  border: 10px solid #9c860b;
}

.status_platine {
  background: linear-gradient(45deg, white, #0000009b);
  border: 10px solid #4e4b4b;
}

.section {
  width: 100% !important;
  border: none !important;
  padding: 1em;
  border-radius: 10px;
  background-color: #ffffffc2;
}

.section1 {
  width: 97% !important;
  border: none !important;
  padding: 1em;
  border-radius: 10px;
  background-color: #ffffffc2;
}

.section1 h1 {
  font-size: 2rem;
  text-align: center;
  margin: 1em 0 2em 0;
}

.section1 div {
  width: 100%;
  padding: 1em;
  border-radius: 10px;
  background-color: #ffffffc2;
}

.section1 div p {
  margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
  .section1 div p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
  }
}

.simpleForm {
  background-color: transparennt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  align-items: center;
}

.simpleForm div {
  background-color: #ceceeac1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 250px;
  max-width: 40%;
}

@media screen and (max-width: 768px) {
  .simpleForm div {
    min-width: 70%;
  }
}

.simpleForm input,
.simpleForm select {
  width: 50%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
}

.simpleForm input:focus,
.simpleForm select:focus {
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
  -webkit-box-shadow: 5px 0 8px gray;
          box-shadow: 5px 0 8px gray;
  background-color: white;
}

.homeTitle {
  position: fixed;
  top: 0;
  left: 0;
  height: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeTitle h1 {
  text-align: center;
  -webkit-animation: 2s slideDown ease;
          animation: 2s slideDown ease;
  margin: 0 1em;
  font-size: 4rem;
  font-family: "Propagan";
  color: #f7b843;
  text-shadow: 2px 3px 5px black;
}

@media screen and (max-width: 768px) {
  .homeTitle h1 {
    font-size: 2rem;
  }
}

.home {
  border-radius: 10px;
  position: fixed;
  right: 40px;
  bottom: 80px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff4d), color-stop(50%, transparent), color-stop(85%, transparent), color-stop(15%, #ffffff1a), to(#ffffff4d));
  background: linear-gradient(to bottom, #ffffff4d 0, transparent 50%, transparent 85%, #ffffff1a 15%, #ffffff4d 100%);
  padding: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  text-align: center;
}

.home div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-bottom: 1em;
}

.home label {
  font-weight: bold;
}

.home input {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  background: #ffffffac;
}

.home button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 100px;
  -webkit-transition: 700ms all ease;
  transition: 700ms all ease;
  -webkit-box-shadow: 0 2px 2px black;
          box-shadow: 0 2px 2px black;
  font-weight: bold;
  font-size: 1.4rem;
  font-family: "House";
}

.home button:hover {
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bubble {
  width: 20vw;
  height: 20vw;
  border-radius: 85% 70% 78% 73%;
  background: -webkit-gradient(linear, left top, left bottom, from(#cdd7f9), color-stop(#8fbcff40), color-stop(#b5e3ff7d), to(#adc6ff17));
  background: linear-gradient(#cdd7f9, #8fbcff40, #b5e3ff7d, #adc6ff17);
  border: 1px solid #0000ff36;
  -webkit-animation: bubble 10s linear forwards infinite;
          animation: bubble 10s linear forwards infinite;
}

@-webkit-keyframes bubble {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes bubble {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.adm_groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  margin-bottom: 2em;
}

@media screen and (max-width: 768px) {
  .adm_groups {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.adm_groups input,
.adm_groups select {
  padding: 10px;
}

.adm_groups select {
  text-align: center;
}

.adm_groups button {
  width: 150px;
  padding: 10px;
  border: none;
  background-color: #ffffff9e;
  -webkit-transition: 500ms all ease;
  transition: 500ms all ease;
}

.adm_groups button:hover {
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
  -webkit-box-shadow: inset 0 1px 3px #535353;
          box-shadow: inset 0 1px 3px #535353;
}

.adm_groups1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid purple;
  border-radius: 5px;
  padding: 20px;
  gap: 5px;
  background-color: #ffffff55;
}

.adm_groups1 div {
  width: 100%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 400ms all ease;
  transition: 400ms all ease;
}

.adm_groups1 div:hover {
  background-color: #9091e796;
  font-weight: bold;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
}

.adm_groups1 input {
  padding: 2px;
}

.adm_groups1 input:focus {
  caret-color: purple;
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
  -webkit-box-shadow: 5px 0 8px gray;
          box-shadow: 5px 0 8px gray;
  background-color: white;
}

.adm_groups1 button {
  margin-left: 0;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  padding: 1em;
  width: 25%;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  -webkit-backdrop-filter: revert;
          backdrop-filter: revert;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 400ms all ease;
  transition: 400ms all ease;
}

.adm_groups1 button:hover {
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
  background-color: #ffffff65;
}

@media screen and (max-width: 768px) {
  .adm_groups1 button {
    width: 55vw;
  }
}

.memberForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid purple;
  border-radius: 5px;
  padding: 20px;
  gap: 5px;
  background-color: #ffffff55;
}

.memberForm div {
  width: 100%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 400ms all ease;
  transition: 400ms all ease;
}

.memberForm div:hover {
  background-color: #9091e796;
  font-weight: bold;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
}

.memberForm input,
.memberForm select {
  padding: 2px;
  width: 40%;
  text-align: center;
}

.memberForm input:focus,
.memberForm select:focus {
  caret-color: purple;
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
  -webkit-box-shadow: 5px 0 8px gray;
          box-shadow: 5px 0 8px gray;
  background-color: white;
}

.memberForm button {
  margin-left: 0;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  padding: 1em;
  width: 25%;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  -webkit-backdrop-filter: revert;
          backdrop-filter: revert;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 400ms all ease;
  transition: 400ms all ease;
}

.memberForm button:hover {
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
  background-color: #ffffff65;
}

@media screen and (max-width: 768px) {
  .memberForm button {
    width: 55vw;
  }
}
/*# sourceMappingURL=parts.css.map */