.aside {
  display: flex;
  position: fixed;
  top: 1em;
  left: 1em;
  right: 3em;
  bottom: 3em;
  gap: 1em;
  caret-color: transparent;

  section:first-child {
    @media screen and (max-width: 1000px) {
      overflow-y: scroll;
    }

    h1 {
      margin: 1em 0;
    }
    div {
      margin-bottom: 2em;
    }
  }

  section {
    h3 {
      text-align: center;
      margin: 1em 0;
    }
    border-radius: 10px;
    height: 90vh;
    font-size: 0.9rem;

    &:nth-child(1) {
      background-color: #ffffffc4;
      // border: 1px solid black;
      padding: 1em;
      // color: red;
      width: 20vw;
      bottom: 4em;
    }

    &:nth-child(2) {
      width: 75vw;
      display: flex;
      flex-direction: column;
      gap: 1em;

      div {
        background-color: #ffffffc4;
        font-size: 0.9rem;
        // border: 1px solid black;
        border-radius: 10px;
        padding: 1em;
        // color: green;
        height: 70%;
        display: flex;
        flex-direction: column;
        gap: 1em;

        &:nth-child(1) {
          // Bloc de droite en haut
          display: flex;
          flex-direction: row;

          span {
            width: 50%;
            height: 100%;

            @media screen and (max-width: 1000px) {
              width: 100%;
            }

            &:nth-child(2) {
              // Bloc à côté du calendrier
              padding: 10px;

              h2 {
                background-color: #ffffffa7;
                font-size: 1.1rem;
                margin-bottom: 10px;
                border: 1px solid black;
                border-radius: 10px;
                text-align: center;
                padding: 10px;
              }
            }
          }

          @media screen and (max-width: 1000px) {
            flex-direction: column;
          }
        }

        &:nth-child(2) {
          // Bloc de droite en bas
          display: flex;
          // overflow-y: scroll;
        }
      }

      select {
        padding: 10px;
        width: 20%;
      }
    }
  }

  input,
  button {
    padding: 10px;
  }

  button {
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 6px #565656;
    transition: 400ms all ease;

    &:hover {
      transition: 100ms all ease;
      box-shadow: none;
      transform: translateY(2px);
    }
  }

  @media screen and (min-width: 701px) and (max-width: 1000px) {
    flex-direction: column;

    section {
      &:nth-child(1) {
        width: 90vw;
        height: 25vh;
      }

      &:nth-child(2) {
        width: 90vw;
        display: flex;
        flex-direction: row;

        div {
          height: 68vh;

          &:nth-child(1) {
            width: 40%;
          }

          &:nth-child(2) {
            width: 60%;
          }
        }
      }
    }
  }

  @media screen and (max-width: 700px) {
    position: static;
    flex-direction: column;

    section {
      &:nth-child(1) {
        width: 90%;
        max-height: 20vh;
        overflow-y: scroll;
      }

      &:nth-child(2) {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;

        div {
          width: 100%;

          table {
            width: 100%;
            font-size: 0.8rem;
          }

          &:nth-child(2) {
            height: auto;
          }
        }
      }
    }
  }

  @media screen and (max-width: 340px) {
    table {
      display: none;
    }
  }
}

aside {
  z-index: 5;
  position: fixed;
  right: 0;
  top: 4em;
  width: 2.5em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  background-color: #413f3f;
  color: white;
  border-radius: 10px 0 0 10px;
  // text-align: center;
  transition: 700ms all ease;
  &:hover {
    transition: 200ms all ease;
    width: 17em;
    background-color: black;
  }
  div {
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    white-space: nowrap;
    span {
      &:nth-child(1) {
        margin-right: 20px;
      }
    }
  }
  a {
    text-decoration: none;
    color: white;
    transition: 400ms all ease;
    &:hover {
      color: orange;
      transition: 100ms all ease;
    }
  }
}

.response {
  background-color: #ffffffc5;
  padding: 10px;
  width: 100%;
  height: 30%;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  button {
    width: 80px;
  }
}

#response {
  max-width: 90%;
}

.form1 {
  // background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  margin: 10vw 0 0 35vw;
  padding: 3em;
  width: 50vw;
  text-align: center;
  h2 {
    font-size: 2rem;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  input {
    padding: 10px;
    min-width: 20vw;
    &:focus {
      border: 2px solid purple;
    }
  }
  button {
    width: 100px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    background: #e0e0e0;
    box-shadow: 14px 14px 29px #c3c3c3, -14px -14px 29px #fdfdfd;
    &:focus {
      box-shadow: 14px 14px 29px #fdfdfd, -14px -14px 29px #c3c3c3;
    }
  }
}

.calendarTable {
  // border: none;
  border-collapse: collapse;
  border-radius: 10px;
  background-color: #ffffffaf;

  td {
    // border: 1px solid black;
    width: 7%;
  }

  thead {
    text-align: center;
    margin: 0;
    height: 25px;

    tr {
      &:nth-child(1) {
        height: 40px;
        font-weight: bold;
        font-size: 1.1rem;
      }
      &:nth-child(2) {
        height: 25px;
        font-weight: bold;
        font-size: 0.8rem;
        border-bottom: 1px solid black;
      }
    }
  }

  tbody {
    tr,
    td {
      text-align: center;
      margin: 0;
      height: 25px;
    }

    td {
      border-radius: 10px;
      transition: 500ms all ease;

      &:hover {
        background-color: #f5d496;
        transition: 100ms all ease;
      }
    }
  }
}

#previousMonth,
#nextMonth {
  cursor: pointer;
}

.events {
  display: flex;
  justify-content: center;
  align-items: center;
  // overflow-y: scroll;

  table {
    overflow-y: scroll;
    width: 80%;
    border-collapse: collapse;

    @media screen and (max-width: 1000px) {
      width: 100%;
    }

    td {
      text-align: center;
      padding: 5px;

      &:nth-child(2) {
        text-align: left;
      }
    }

    tr {
      transition: 400ms all ease;

      &:nth-child(odd) {
        background-color: white;
      }

      &:nth-child(even) {
        background-color: #ffffff6c;
      }

      &:hover {
        transition: 100ms all ease;
        background-color: #ffda8a;
      }
    }
  }
}
