$roboto: "Roboto", cursive, sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
$montserrat: "Montserrat", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
$comfortaa: "Comfortaa", cursive;
@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
$hubbali: "Hubballi", cursive;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
$quicksand: "Quicksand", sans-serif;
@font-face {
  font-family: "RobotoMono";
  src: url("../medias/fonts/RobotoMono-VariableFont_wght.ttf") format("opentype");
}
@font-face {
  font-family: "Silkscreen";
  src: url("../medias/fonts/Silkscreen-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "AlarmClock";
  src: url("../medias/fonts/alarm_clock.ttf") format("opentype");
}
@font-face {
  font-family: "AtomicClockRadio";
  src: url("../medias/fonts/AtomicClockRadio.TTF") format("opentype");
}
@font-face {
  font-family: "FlipClockBlack";
  src: url("../medias/fonts/FLIPclockblack.ttf") format("opentype");
}
@font-face {
  font-family: "FlipClockWhite";
  src: url("../medias/fonts/FLIPclockwhite.ttf") format("opentype");
}
@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");
$Rubik_Moonrocks: "Rubik Moonrocks', cursive";
@import "mixins.scss";

* {
  padding: 0;
  margin: 0;
  font-family: $comfortaa;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.dark_mode {
  background-color: black;
  color: white;
}
.light_mode {
  background-color: #d0d0d0;
  color: black;
}

.form1 {
  width: 100%;
  height: 100%;
  position: relative;
  fieldset {
    position: absolute;
    width: 98vw;
    height: 96vh;
    top: 2vh;
    left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 6px solid black;
    border-radius: 10px;
    box-shadow: 0 0 30px inset grey;
    h2 {
      position: absolute;
      top: 4em;
      width: 60vw;
      left: 20vw;
      font-size: 2rem;
    }
    div {
      // border: 1px solid black;
      width: 70%;
      @media screen and (max-width: 768px) {
        width: 90vw;
      }
      text-align: center;
      margin-bottom: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;
      label {
        font-size: 1.2rem;
      }
      input {
        min-width: 30vw;
        padding: 10px;
        border-radius: 5px;
        transition: 700ms all ease;
        &:focus {
          transition: 100ms all ease;
          background-color: #ececfd;
          border: 1px solid #0404bb;
        }
      }
    }
  }
  button {
    width: 25vw;
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    box-shadow: 0 4px 5px grey;
    transition: 600ms all ease;
    &:hover {
      box-shadow: none;
      transform: translateY(5px);
      transition: 200ms all ease;
    }
    &:focus {
      background-color: #cff7cf;
    }
  }
}

.alinea {
  text-indent: 3em;
}

.ajust {
  width: 100%;
}

$blue0: #220e5a;
$blue1: #301679;
$blue2: #432791;
$blue3: #5f42af;
$blue4: #7e64c5;
$blue5: #a28ddb;
$blue6: #c9bcee;
$blue7: #e5e0f3;
$blue8: #f9f8fc;
$blue0linear: linear-gradient(45deg, $blue2, $blue0);

$red0: #300303;
$red1: #5c0808;
$red2: #910e0e;
$red3: #b61b1b;
$red4: #ce3232;
$red5: #e44f4f;
$red6: #f37d7d;
$red7: #f1a7a7;
$red8: #f7d7d7;

$grey0: #302e2e;
$grey1: #454343;
$grey2: #696565;
$grey3: #8b8686;
$grey4: #9e9999;
$grey5: #bab4b4;
$grey6: #dcd4d4;
$grey7: #f7f1f1;

$orange0: #c46200;
$orange1: #ee8318;
$orange2: #f0ac35;
$orange3: #f1a04e;
$orange4: #f4ab62;
$orange5: #fac897;
$orange6: #f4dac0;
$orange7: #f0e7dd;
$orange0linear: linear-gradient(45deg, $orange2, $orange0);
$orange60deg: linear-gradient(60deg, $orange5, white, $orange5);

$purple0: #230223;
$purple1: #4b054b;
$purple2: #6a0e6a;
$purple3: #862086;
$purple4: #a43ca4;
$purple5: #b967b9;
$purple6: #cb90cb;
$purple7: #e0c4e0;

.purple_select {
  &:selection {
    background-color: $purple1;
    color: white;
  }
}

.prgm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  li {
    width: 60vw;
    list-style: none;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: $grey7;
    transition: 300ms all ease;
    &:hover {
      background-color: $grey6;
    }
    @media screen and (max-width: 768px) {
      width: 80vw;
    }
  }
}

// @for $i from 1 through 8 {
//   .f-blue#{$i} {color: $blue#{$i}};
// }
.f-blue0 {
  color: $blue0;
}
.f-blue1 {
  color: $blue1;
}
.f-blue2 {
  color: $blue2;
}
.f-blue3 {
  color: $blue3;
}
.f-blue4 {
  color: $blue4;
}
.f-blue5 {
  color: $blue5;
}
.f-blue6 {
  color: $blue6;
}
.f-blue7 {
  color: $blue7;
}
.f-blue8 {
  color: $blue8;
}

.f-white {
  color: white;
}
.f-red {
  color: red;
}
.f-red-light {
  color: #ef8181;
}
.f-orange {
  color: rgb(215, 137, 54);
}
.f-light-red1 {
  color: #ee7f7f;
}
.f-light-red2 {
  color: #f1a7a7;
}
.f-blue {
  color: blue;
}
.f-green {
  color: green;
}
.f-yellow {
  color: yellow;
}
.f-brown {
  color: brown;
}
.f-black {
  color: black;
}

@for $i from -10 through 15 {
  .z#{$i} {
    z-index: #{$i};
  }
  .top#{$i}em {
    top: #{$i}em;
  }
}

@for $i from 1 through 9 {
  .bg-sono#{$i} {
    background-image: url(../medias/backgrounds/sono0#{$i}.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
}

@for $i from 1 through 10 {
  .small-table#{$i*10} {
    width: #{$i * 10}vw;
    margin-left: #{$i}vw;
    border-collapse: collapse;
    thead td {
      font-weight: bold;
      text-align: center;
      background-color: $grey5;
      border: 2px solid black;
    }
    th {
      padding: 10px;
      background-color: $grey5;
    }
    tr {
      background-color: $grey7;
      transition: 300ms background-color ease;
      &:hover {
        background-color: $grey6;
      }
      td {
        border: 1px solid black;
        padding: 8px;
        @media screen and (max-width: 768px) {
          font-size: 0.8rem;
          padding: 5px;
          margin: 0;
        }
      }
    }
    @media screen and (max-width: 768px) {
      width: 80vw;
      margin-left: 5vw;
    }
  }

  .bordered#{$i} {
    border: #{$i}px solid black;
  }

  .borderedV#{$i} {
    border-top: #{$i}px solid black;
    border-bottom: #{$i}px solid black;
  }
  .ls#{$i} {
    letter-spacing: #{$i}px;
  }
  .ls#{$i}em {
    letter-spacing: #{$i}em;
  }
  .f#{$i}rem {
    font-size: #{$i}rem;
  }
  .f#{$i}decrem {
    font-size: #{$i/10}rem;
  }
  .m#{$i}em {
    margin: #{$i}em;
  }
  .mv#{$i}em {
    margin: #{$i}em 0;
  }
  .mv#{$i}vh {
    margin: #{$i}vh 0;
  }
  .mh#{$i}em {
    margin: 0 #{$i}em;
  }
  .p#{$i}em {
    padding: #{$i}em;
  }
  .pv#{$i}px {
    padding: #{$i}px 0;
  }
  .pv#{$i}em {
    padding: #{$i}em 0;
  }
  .ph#{$i}px {
    padding: 0 #{$i}px;
  }
  .mw#{$i}em {
    max-width: #{$i}em;
  }
}

@for $i from 1 through 6 {
  .bg-desk#{$i} {
    background-image: url(../medias/backgrounds/desk0#{$i}.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  .bg-dark#{$i} {
    background-image: url(../medias/backgrounds/dark0#{$i}.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
}

@for $i from 0 through 100 {
  .central#{$i} {
    width: #{$i * 1%};
    margin-left: #{(100- ($i)) * 0.5%};
    font-size: 1.2rem;
    @media screen and (max-width: 768px) {
      width: 90%;
      margin-left: 5%;
    }
    h1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 550px) {
        flex-direction: column;
      }
    }
  }

  .center#{$i} {
    width: #{$i * 1%};
    margin-left: #{(100-$i) / 2 * 1%};
    text-align: center;
    @media screen and (max-width: 768px) {
      width: 90%;
      margin-left: 5%;
    }
  }
  .ml#{$i}p {
    margin-left: #{$i * 1%};
  }
  .ml#{$i} {
    margin-left: #{$i}vw;
  }
  .w#{$i} {
    width: #{$i * 1%};
    @media screen and (max-width: 768px) {
      width: #{($i + 20) * 1%};
    }
    @media screen and (max-width: 350px) {
      width: #{($i + 40) * 1%};
    }
  }
  .mw#{$i}px {
    max-width: #{$i}px;
  }
  .top#{$i}px {
    top: #{$i}px;
  }
  .fixed-w#{$i} {
    width: #{$i}vw;
  }
  .h#{$i}vh {
    max-height: #{$i}vh;
    max-width: 95%;
    @media screen and (max-width: 768px) {
      max-height: #{$i * 0.8}vh;
    }
  }
  .h#{$i}vh_fixed {
    height: #{$i}vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .h#{$i}em {
    height: #{$i}em;
    @media screen and (max-width: 768px) {
      height: #{$i * 0.9}em;
    }
  }
  .h#{$i}p {
    height: #{$i * 1%};
  }
  .mt#{$i} {
    margin-top: #{$i}vh;
  }
  .mr#{$i} {
    margin-right: #{$i}vw;
  }
  .mb#{$i} {
    margin-bottom: #{$i}vh;
  }
  .ml#{$i} {
    margin-left: #{$i}vw;
  }
  .w#{$i}em {
    width: #{$i}em;
  }
  .h#{$i}em {
    height: #{$i}em;
  }
  .mt#{$i}em {
    margin-top: #{$i}em;
  }
  .mr#{$i}em {
    margin-right: #{$i}em;
  }
  .mb#{$i}em {
    margin-bottom: #{$i}em;
  }
  .ml#{$i}em {
    margin-left: #{$i}em;
  }
  .pt#{$i}em {
    padding-top: #{$i}em;
  }
  .pr#{$i}em {
    padding-right: #{$i}em;
  }
  .pb#{$i}em {
    padding-bottom: #{$i}em;
  }
  .pl#{$i}em {
    padding-left: #{$i}em;
  }
  .p#{$i}px {
    padding: #{$i}px;
  }
  .f#{$i}em {
    font-size: #{$i}em;
  }
  .f#{$i}dem {
    font-size: #{$i/10}em;
  }
  .rounded#{$i} {
    border-radius: #{$i}px;
  }
  .mv#{$i}px {
    margin: #{$i}px 0;
  }
  .mh#{$i}px {
    margin: 0 #{$i}px;
  }
  .mt#{$i}vh {
    margin-top: #{$i}vh;
  }
  .mr#{$i}vw {
    margin-right: #{$i}vw;
  }
  .mb#{$i}vh {
    margin-bottom: #{$i}vh;
  }
  .ml#{$i}vw {
    margin-left: #{$i}vw;
  }
  .p#{$i}px {
    padding: #{$i}px;
  }
  .f#{$i}decem {
    font-size: #{$i/10}em;
  }
  .f#{$i}decrem {
    font-size: #{$i/10}rem;
  }
  .w#{$i}em {
    width: #{$i}em;
  }
  .w#{$i}vw {
    width: #{$i}vw;
  }
}

@for $i from 1 through 1000 {
  .h#{$i}px {
    height: #{$i}px;
  }
  .w#{$i}px {
    width: #{$i}px;
  }
  .h#{$i}px {
    height: #{$i}px;
  }
  .mt#{$i}px {
    margin-top: #{$i}px;
  }
  .mr#{$i}px {
    margin-right: #{$i}px;
  }
  .mb#{$i}px {
    margin-bottom: #{$i}px;
  }
  .ml#{$i}px {
    margin-left: #{$i}px;
  }
  .f#{$i}px {
    font-size: #{$i}px;
  }
}

.line-red {
  display: flex;
  justify-content: space-evenly;
  span {
    padding: 1em;
    border: 2px black solid;
    border-radius: 20px;
    width: 30vw;
    background-color: $red8;
  }
  div ul {
    background-color: $red7;
    li {
      text-align: center;
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    span {
      width: 80vw;
      margin-left: 10vw;
      margin-bottom: 1em;
    }
  }
}

.line-bistre {
  display: flex;
  justify-content: space-evenly;
  span {
    padding: 1em;
    border: 2px black solid;
    border-radius: 20px;
    width: 30vw;
    background-color: #e7bca0;
  }
  div ul {
    background-color: #f0eae7;
    li {
      text-align: center;
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    span {
      width: 80vw;
      margin-left: 10vw;
      margin-bottom: 1em;
    }
  }
}

.finger {
  transition: 300ms all ease;
  &:hover {
    &:after {
      content: "👍";
    }
  }
}

.form-red {
  fieldset {
    border-radius: 30px;
    background-color: $red8;
    legend {
      text-align: center;
      font-weight: bold;
      margin-bottom: 20px;
    }
    div {
      margin-bottom: 1em;
      text-align: center;
      input,
      select {
        padding: 20px;
        text-align: center;
        border-radius: 10px;
      }
    }
  }
}
.form-bistre {
  fieldset {
    border-radius: 30px;
    background-color: #e7bca0;
    legend {
      text-align: center;
      font-weight: bold;
      margin-bottom: 20px;
    }
    div {
      margin-bottom: 1em;
      text-align: center;
      input,
      select {
        padding: 20px;
        text-align: center;
        border-radius: 10px;
      }
    }
  }
}

.card {
  div {
    margin-bottom: 1em;
    div {
      padding: 10px;
      display: flex;
      justify-content: space-evenly;
      border-radius: 10px;
      ul li {
        text-align: center;
        padding: 2px;
        border-radius: 10px;
        @include react;
      }
    }
    h2,
    h3,
    h4 {
      margin: 20px 0;
      text-align: center;
    }
  }
}

.listCard {
  @include bg-blur;
  text-align: center;
}

.listCard1 {
  @include bg-blur;
  border: 2px solid black;
  border-radius: 20px;
  width: 60%;
  margin-left: 20%;
}

.cover {
  background-size: cover;
}

.contain {
  background-size: contain;
}

.just {
  text-align: justify;
  text-indent: 1em;
}
@media screen and (max-width: 768px) {
  .just,
  li {
    font-size: 1rem;
  }
}
.cent {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.centered {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.centerV1 {
  padding-top: 1em;
  @media screen and (max-width: 768px) {
    padding-top: 0;
  }
}

.middle {
  height: 60vh;
  margin-top: 11vh;
}

.cent-ch {
  h2,
  form {
    text-align: center;
    div input {
      text-align: center;
      width: 25vw;
      padding: 10px;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}
.sp-around {
  display: flex;
  justify-content: space-around;
}
.sp-evenly {
  display: flex;
  justify-content: space-evenly;
}
.sp-between {
  display: flex;
  justify-content: space-between;
}
.sp-center {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .center,
  .sp-around,
  .sp-evenly,
  .sp-between {
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
  }
}

.glowing {
  color: #ffffff;
  background: #232323;
  padding: 10px;
  border-radius: 5px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18,
    0 0 55px #49ff18, 0 0 75px #49ff18;
}

.shadowed1 {
  text-shadow: 1px 2px 7px #808080;
}

.shadowed2 {
  text-shadow: 5px 5px 8px #5f5d5d;
  transition: 300ms all ease;
  &:hover {
    text-shadow: 5px 5px 5px rgb(95, 93, 93);
    transition: text-shadow 300ms;
  }
}

.shadowed-black {
  text-shadow: 1px 2px 7px black;
}

.shadow_border {
  padding: 1em;
  // margin-left: 15vw;
  // width: 70vw;
  backdrop-filter: blur(8px);
  transition: 2s all ease;
  &:hover {
    backdrop-filter: blur(20px);
  }
}

.white_shadowed {
  text-shadow: 2px 2px 7px white;
  transition: 700ms all ease;
  &:hover {
    text-shadow: 2px 2px 15px white;
  }
}

.pencil {
  width: 0.9vw;
}

.littleBox {
  width: 70vw;
  margin-left: 15vw;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.box {
  width: 60%;
  min-height: 50vh;
  margin-left: 20%;
  // text-align: justify;
  padding: 1em;
  background-image: url(../medias/pictures/blank_board0.png);
  border: 15px groove #f3d9bd;
  border-radius: 10px;
  color: white;
  h2,
  h3,
  h4 {
    margin: 15px 0;
  }
  div {
    padding: 1em;
    margin-bottom: 15px;
    // text-align: justify;
  }
  @media screen and (max-width: 768px) {
    width: 90%;
    margin-left: 5%;
  }
}

.box-shadowed {
  box-shadow: 5px 8px 10px $grey6;
}

.board {
  width: 80%;
  margin: 3em auto;
  height: auto;
  padding: 20px;
  background-color: #ece9e5;
  border-radius: 5px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 10px;
    text-align: center;
  }
}

.bigboard {
  width: 90%;
  min-height: 84vh;
  @media screen and (max-width: 768px) {
    min-height: 77vh;
  }
  padding: 1em;
  margin: 1em 0 3em 5%;
  background-image: url(../medias/pictures/blank_board0.png);
  background-size: cover;
  border: 20px groove #503710;
  border-radius: 10px;
  color: white;
}

.circle-list {
  list-style: circle;
}

.listnostyle {
  list-style: none;
}

.roll {
  width: 40vw;
  height: 2.5em;
  overflow: hidden;
  margin: 0 0 1em 30vw;
  background-color: $orange7;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 400ms all ease-out;
  &:hover {
    transition: 100ms all ease;
    background-color: $orange6;
    height: 11em;
  }
  @media screen and (max-width: 768px) {
    height: 3.5em;
    &:hover {
      transition: 100ms all ease;
      background-color: $orange6;
      height: 11em;
      overflow: auto;
    }
  }
  span:nth-child(1) {
    font-weight: bold;
    margin-bottom: 1em;
    &:before {
      content: "Réunion du ";
    }
  }
  span:nth-child(2) {
    &:before {
      content: "Scène : ";
    }
  }
  span:nth-child(3) {
    &:before {
      content: "Perches : ";
    }
  }
  span:nth-child(4) {
    &:before {
      content: "Audio : ";
    }
  }
  span:nth-child(5) {
    &:before {
      content: "Vidéo : ";
    }
  }
  span:nth-child(6) {
    &:before {
      content: "Zoom : ";
    }
  }
  span:nth-child(7) {
    &:before {
      content: "Accueil : ";
    }
  }
}

.services {
  width: 50%;
  margin-left: 25%;
  color: black;
  border: 1px solid white;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
  @media screen and (max-width: 768px) {
    width: 80%;
    margin-left: 10%;
  }
  span:nth-child(1) {
    font-weight: bold;
    margin-bottom: 1em;
    &:before {
      content: "Réunion du ";
    }
  }
  span:nth-child(2) {
    &:before {
      content: "Scène : ";
    }
  }
  span:nth-child(3) {
    &:before {
      content: "Perches : ";
    }
  }
  span:nth-child(4) {
    &:before {
      content: "Audio : ";
    }
  }
  span:nth-child(5) {
    &:before {
      content: "Vidéo : ";
    }
  }
  span:nth-child(6) {
    &:before {
      content: "Zoom : ";
    }
  }
  span:nth-child(7) {
    &:before {
      content: "Accueil : ";
    }
  }
}

.inNum {
  list-style: inside decimal;
  li {
    margin-bottom: 10px;
  }
}

.conx-list {
  list-style: inside decimal;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1rem;
}

.central-small {
  padding: 1em;
  width: 50%;
  margin-left: 25%;
  @media screen and (max-width: 768px) {
    width: 80%;
    margin-left: 10%;
  }
}

.central-small1 {
  width: 50%;
  @media screen and (max-width: 768px) {
    width: 80%;
  }
}

.central-small2 {
  padding: 1em;
  width: 40%;
  margin-left: 30%;
  @media screen and (max-width: 768px) {
    width: 80%;
    margin-left: 10%;
  }
}

.central-xsmall {
  text-align: center;
  padding: 1em;
  width: 40%;
  margin-left: 30%;
  @media screen and (max-width: 768px) {
    width: 60%;
    margin-left: 20%;
  }
}

.central-card {
  padding: 1em 7em;
  text-align: justify;
  @media screen and (max-width: 768px) {
    padding: 1em 4em;
  }
  h2 {
    text-align: center;
  }
  p {
    text-indent: 20px;
    font-weight: 1.2rem;
  }
  div {
    text-indent: 20px;
  }
}

.center-card {
  position: relative;
  height: 80vh;
  text-align: center;
  img {
    z-index: 0;
    border-radius: 20px;
    height: 100%;
    @media screen and (max-width: 768px) {
      width: 90%;
      height: auto;
    }
  }
  div {
    z-index: 1;
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    a {
      padding: 8px 20px;
      background-color: #3e363699;
      backdrop-filter: blur(8px);
      border-radius: 10px;
      font-style: italic;
      color: white;
    }
  }
}

.react {
  @include react;
}

.react_orange {
  border-radius: 10px;
  transition: 500ms all ease-out;
  &:hover {
    background-color: #fdcd74;
    transition: 100ms all ease;
  }
}

.incolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.invisible {
  display: none;
}
.success {
  background-color: green;
}
.sword {
  cursor: url(../medias/cursors/sword.png), auto;
}
.top-shadow {
  background: linear-gradient(black, rgba(0, 0, 0, 0));
}
.relative {
  position: relative;
  text-align: center;
}
.absolute {
  position: absolute;
  text-align: center;
}
.fixed {
  position: fixed;
  text-align: center;
}
.sticky {
  position: sticky;
  text-align: center;
}

.absolute_card {
  position: absolute;
  top: 5em;
  left: 7em;
  @media screen and (max-width: 768px) {
    position: static;
    margin: 1em;
  }
}

.adapt {
  @media screen and (max-width: 768px) {
    font-size: 1.7rem;
  }
}

.sticker {
  margin: 0 15em 2em 15em;
  padding: 1em;
  @media screen and (max-width: 1000px) {
    margin: 0 4em 2em 4em;
  }
  @media screen and (max-width: 768px) {
    margin: 0 1em 2em 1em;
  }
}

.bordered-title {
  border: 2px solid black;
  padding: 10px;
  margin: 0 8em 1em 8em;
  @media screen and (max-width: 768px) {
    margin: 0 2em 1em 2em;
  }
}
.round-bordered {
  width: 80vw;
  margin-left: 10vw;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 4px 10px 12px #949494;
  @media screen and (max-wifth: 768px) {
    width: 90vw;
    margin-left: 5vw;
  }
}

.boxshadowed {
  @include boxshadowed;
}

.w-third {
  width: 33, 3333333%;
}
.w100p {
  width: 100%;
}
.mw80 {
  max-width: 80%;
}
.mw90 {
  max-width: 90%;
}
.mw100 {
  max-width: 100%;
}
.sticky-bottom {
  position: sticky;
  bottom: 0;
}
.fixed-bottom {
  text-align: center;
  position: fixed;
  bottom: 0;
}
.jc-c {
  justify-content: center;
}
.jc-se {
  justify-content: space-evenly;
}
.jc-sb {
  justify-content: space-between;
}
.jc-sa {
  justify-content: space-around;
}
.jc-s {
  justify-content: stretch;
}
.jc-c,
.jc-se,
.jc-sb,
.jc-sa,
.jc-s {
  display: flex;
  gap: 10px;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.as-c {
  align-self: center;
}

.colRow {
  flex-direction: column;
  @media screen and (max-width: 768px) {
    flex-direction: row;
  }
}

.rowCol {
  flex-direction: row;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.rowCol,
.colRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.col {
  display: flex;
  flex-direction: column;
}

.centerCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    padding: 10px;
    transition: 200ms all ease;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
  button {
    color: black;
    font-size: 1.05rem;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1em;
    background-color: #ffffff;
    transition: 700ms all ease-in-out;
    &:hover {
      transition: 100ms all ease-in-out;
      background-color: #ffffff99;
    }
  }
}

.rate {
  border-radius: 10px;
  width: 45vw;
  margin: 0 0 1em 17vw;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  transition: 400ms background ease;
  &:hover {
    background-color: rgb(192, 183, 244);
  }
  span {
    text-align: center;
    align-self: center;
  }
  & span:nth-child(1) {
    margin-right: 10px;
  }
  & span:nth-child(2) {
    font-weight: bold;
  }
  @media screen and (max-width: 768px) {
    width: 80vw;
    margin: 0 0 1em 3vw;
  }
}

.loader span {
  color: $red5;
  font-size: 1.8rem;
  letter-spacing: 15px;
  text-shadow: 0 0 0 $red5;
  -webkit-animation: loading 1s ease-in-out infinite alternate;
  animation: loading 1.5s ease-in-out infinite alternate;
}
@keyframes loading {
  to {
    text-shadow: 20px 0 70px $red0;
    color: $red8;
  }
}
@for $i from 2 through 30 {
  .loader span:nth-child(#{$i}) {
    animation-delay: ($i / 7) - 0.1s;
  }
}
.central_animation {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.bg-sky {
  background-image: url(../medias/backgrounds/sky01.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.bg-joyaux {
  background-color: #d9d9d9;
  color: black;
  border-radius: 10px;
  padding: 10px;
}
.bg-appl {
  background-color: #f8cbad;
  color: black;
  border-radius: 10px;
  padding: 10px;
}
.bg-viechr {
  background-color: #c65911;
  color: black;
  border-radius: 10px;
  padding: 10px;
}

.bg-carpet {
  background-image: url(../medias/backgrounds/goldencarpet.jpg);
  background-size: cover;
  background-attachment: fixed;
}

@for $i from 1 to 12 {
  .bg-jw#{$i} {
    background-image: url(../medias/backgrounds/jw#{$i}.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
}

.bg-admin {
  background-image: url(../medias/backgrounds/dark03.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.bg-bible {
  background-image: url(../medias/backgrounds/bible02.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.bg-grey {
  background-color: #ece9e5;
}

.bg-red {
  background-color: $red8;
}
.bg-light-red3 {
  background-color: $red3;
}
.bg-light-red4 {
  background-color: $red4;
}
.bg-light-red5 {
  background-color: $red5;
}
.bg-light-red6 {
  background-color: $red6;
}
.bg-light-red7 {
  background-color: $red7;
}
.bg-light-red8 {
  background-color: $red8;
}
.bg-blue {
  background-color: $blue1;
}
.bg-light-blue {
  background-color: linear-gradient(45deg, #111137, #b7b7fb);
}

.bg-predic1 {
  background-image: url(../medias/backgrounds/predic01.jpg);
  background-size: cover;
  background-attachment: fixed;
  @media screen and (max-width: 768px) {
    background-image: url(../medias/backgrounds/lonely_house02.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
}

.bg-tribal {
  background-image: url(../medias/backgrounds/tribal.png);
  background-size: cover;
}

.bg-plank1 {
  background-image: url(../medias/backgrounds/planks1.webp);
  background-size: cover;
}

.bg-plank2 {
  background-image: url(../medias/backgrounds/planks2.jpg);
  background-size: cover;
}

.bg-pred {
  background-image: url(../medias/backgrounds/nature02.jpg);
  background-size: cover;
}

.bg-blur {
  @include bg-blur;
}

.bg-blur0 {
  background-color: #ffffffb5;
  backdrop-filter: blur(15px);
}

.bg_dark {
  background-color: #4a4848bb;
}
.bg_dark1 {
  background: linear-gradient(#261d1dbb, black);
}
.red-link {
  text-decoration: none;
  color: red;
  transition: 300ms color ease;
  &:hover {
    color: rgb(142, 12, 12);
  }
}
.bg-light-red {
  background-color: $red8;
}
.bg-grad-light-red {
  background: linear-gradient(white, $red8, white);
}
.bg-grad-light-blue {
  background-color: linear-gradient(45deg, #26264b, #6d6dbd);
}
.bg-grad-dark {
  background: linear-gradient(#000000, #222223);
}
.bg-black {
  background-color: black;
}
.bg-white {
  background-color: white;
}
.bg-green {
  background-color: green;
}
.bg-blue {
  background-color: blue;
}
.bg-brown {
  background-color: brown;
}
.bg-cyan {
  background-color: cyan;
}
.bg-light-cyan {
  background-color: rgb(215, 243, 243);
}
.bg-yellow {
  background-color: yellow;
}
.bg-cool {
  background: linear-gradient($blue5, $blue7);
}
.bg-drunk-tank-pink {
  background-color: rgb(255, 145, 174);
}
.bg-cool1 {
  background: linear-gradient($blue7, $blue6);
}
.bg-transparent {
  background-color: #00000080;
}
.bg-transparent0 {
  background-color: #00000000;
}
.bg-desk {
  background-image: url(../medias/backgrounds/bibliotheque03.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.bgHRA {
  background: linear-gradient(45deg, #c2c2ec, #efbaba);
  animation: hue-rotate 2s linear infinite alternate;
}
@keyframes hue-rotate {
  to {
    filter: hue-rotate(90deg);
  }
}

.post {
  padding: 1em;
  border: 1px solid black;
  background-color: white;
}

.post-it {
  width: 170px;
  height: 175px;
  box-shadow: 2px 4px 6px #444;
  // border-bottom-right-radius: 60px 10px;
  @media screen and (max-width: 768px) {
    width: 165px;
    height: 200px;
  }
  padding: 15px;
  background-color: yellow;
  transform: rotate(-5deg);
  overflow: hidden;
  margin-bottom: 2em;
  font-size: 0.9rem;
  span {
    font-weight: bold;
  }
}

.pred_title {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 1em 0;
  background-image: url(../medias/backgrounds/predic01.jpg);
  background-size: cover;
  background-attachment: fixed;
  @media screen and (max-width: 768px) {
    background-image: url(../medias/backgrounds/lonely_house02.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  h1 {
    animation: 2s slideDown ease;
    @media screen and (max-width: 768px) {
      color: white;
    }
  }
}

.slideLeft {
  animation: 2s slideLeft ease;
}
.slideRight {
  animation: 2s slideRight ease;
}
.slideUp {
  animation: 2s slideUp ease;
}
.slideDown {
  animation: 2s slideDown ease;
}

.strech {
  letter-spacing: 7px;
  animation: 1500ms strech ease-out;
}

.jump {
  transition: 400ms all ease;
  &:hover {
    animation: 300ms ease jump infinite alternate;
  }
}

.rt_icon {
  position: relative;
  left: 40%;
  bottom: 3em;
  width: 12em;
  text-align: center;
  vertical-align: bottom;
  border-radius: 10px;
  padding: 7px;
  // @media screen and (max-width: 768px) {
  //   display: none;
  // }
}

.border-red {
  border: 2px red solid;
}

.gallery {
  img {
    height: 30vh;
    width: auto;
    border-radius: 20px;
    @media screen and (max-width: 768px) {
      width: 80vw;
      height: auto;
      margin-left: 10vw;
    }
  }
}

.gallery1 {
  width: 40vw;
  height: 45vh;
  margin-left: 30vw;
  position: relative;
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  img {
    width: 100%;
    height: 100%;
    position: sticky;
    left: 0;
    flex-shrink: 0;
    scroll-snap-align: start;
  }
}

@keyframes jump {
  to {
    transform: translateY(-20px);
  }
}

.f-green {
  color: green;
}
.f-grey {
  color: grey;
}
.f-blue {
  color: blue;
}
.f-brown {
  color: brown;
}
.f-cyan {
  color: cyan;
}
.f-yellow {
  color: yellow;
}
.f-purple {
  color: purple;
}
.f-larger {
  font-size: 1.5rem;
}
.f-larger1 {
  font-size: 1.2rem;
}
.border-horizontal {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.white-border-horizontal {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px;
}
.comfortaa {
  font-family: $comfortaa;
}
.hubbali {
  font-family: $hubbali;
  letter-spacing: 2px;
}
.quicksand {
  font-family: $quicksand;
  letter-spacing: 2px;
}
.Rubik_Moonrocks {
  font-family: $Rubik_Moonrocks;
  letter-spacing: 4px;
}
.bold {
  font-weight: bold;
}
.normal {
  font-weight: normal;
}
.active {
  font-weight: bold;
  text-shadow: 1px 1px 10px black;
}
.mt1em5 {
  margin-top: 1.5em;
}
.large {
  font-weight: large;
}
.pointer {
  cursor: pointer;
}

.small-img {
  height: 180px;
  width: 180px;
}

.tiny-img {
  height: 100px;
  width: auto;
}

.icon {
  width: 20px;
  height: 20px;
}

.dec {
  margin-left: 15em;
  @media screen and (max-width: 768px) {
    margin-left: 5em;
  }
}

textarea {
  resize: none;
  padding: 1em;
}

.connection {
  border-radius: 20px;
  box-shadow: 3px 5px 10px #302a2a;
  padding-bottom: 1em;
  div {
    text-align: center;
    margin-bottom: 1em;
    label,
    input {
      width: 40vw;
      text-align: center;
      padding: 10px;
      border-radius: 10px;
    }
  }
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: $comfortaa;
}

input:invalid {
  animation: shake 300ms;
}

.circle {
  &:hover {
    animation: 1200ms circle infinite;
  }
}
@keyframes circle {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(10px) rotate(-360deg);
  }
}

.write {
  &:hover {
    animation: 700ms write infinite;
  }
}
@keyframes write {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(10px) translateY(-1px);
  }
  50% {
    transform: translateX(-1px) translateY(0);
  }
  75% {
    transform: translateX(9px) translateY(2px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.shake {
  &:hover {
    animation: 300ms shake infinite;
  }
}
.shake1 {
  &:hover {
    animation: 500ms shake1 infinite;
  }
}
@keyframes shake {
  25% {
    transform: translate(4px);
  }
  50% {
    transform: translate(-4px);
  }
  75% {
    transform: translate(4px);
  }
}
@keyframes shake1 {
  25% {
    transform: translateX(4px) translateY(4px);
  }
  50% {
    transform: translateX(-4px) translateY(-4px);
  }
  75% {
    transform: translateX(4px) translateY(4px);
  }
}

.grad {
  background-image: linear-gradient(to bottom right, #4affde 0%, #5b9dff 40%, #d06bff 60%, #ff34d2 100%);
  background-size: 200% 200%;
  animation: movinGradient 5s linear infinite alternate;
}

.grad-grey {
  background-image: linear-gradient(
    to bottom right,
    rgb(225, 224, 220) 0%,
    rgb(92, 84, 53) 40%,
    rgb(164, 162, 152) 60%,
    rgb(212, 197, 138) 100%
  );
  background-size: 200% 200%;
  animation: movinGradient 5s linear infinite alternate;
}

@keyframes movinGradient {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

.img {
  height: 1em;
}

.img1 {
  width: 30vw;
  @media screen and (max-width: 768px) {
    width: 80vw;
  }
}

nav {
  z-index: 1000;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $red8;
  opacity: 0.9;
  font-family: $quicksand;
  font-size: 1.2rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  .title {
    align-self: center;
    font-weight: bold;
  }
  div {
    padding: 1em 0;
    @media screen and (max-width: 768px) {
      padding: 10px;
    }
  }
}

.ns {
  list-style: none;
}

.spaced-list li {
  margin-bottom: 20px;
}

.list {
  li {
    margin-bottom: 2px;
    padding: 5px;
    border-radius: 5px;
  }
}

.whiteboard {
  position: relative;
  width: 90vw;
  height: auto;
  margin-left: 5vw;
  padding: 7em;
  background-size: cover;
  text-align: justify;
  border: 20px groove #a06c29;
  border-radius: 5px;
  @media screen and (max-width: 1200px) {
    padding: 3em;
  }
  @media screen and (max-width: 870px) {
    padding: 1em;
  }
}

.plank1 {
  background-image: url(../medias/backgrounds/planks1.webp);
}

.board0 {
  background-image: url(../medias/pictures/blank_board0.png);
}

.board1 {
  background-image: url(../medias/pictures/blank_board1.png);
}

.board2 {
  background-image: url(../medias/pictures/blank_board2.webp);
}

.board3 {
  background-image: url(../medias/pictures/blank_board3.png);
}

.vcm {
  h2 {
    font-size: 1.2rem;
    margin: 3em 0 1em 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  h2,
  div,
  span,
  div span {
    font-size: 1.2rem;
  }
  @media screen and (max-width: 768px) {
    font-size: 1rem;
    flex-direction: column;
    h2,
    div,
    span,
    div span {
      font-size: 0.9rem;
    }
  }
  div {
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
}

.we {
  div {
    margin-bottom: 2em;
    span:nth-child(2) {
      color: yellow;
    }
  }
  h3 {
    margin-bottom: 2em;
    span:nth-child(2) {
      color: lightgreen;
    }
  }
}

.prgm-list {
  width: 50vw;
  margin-left: 25vw;
  border: 1px solid black;
  border-radius: 20px;
  padding: 2em;
  background-color: #42123e;
  @media screen and (max-width: 768px) {
    width: 80vw;
    margin-left: 10vw;
  }
  .vcm {
    h2 {
      font-size: 1rem;
      margin: 3em 0 1em 0;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
    h2,
    div,
    span,
    div span {
      font-size: 1rem;
    }
    h2,
    div {
      color: white;
    }
    @media screen and (max-width: 768px) {
      font-size: 0.8rem;
      flex-direction: column;
      h2,
      div,
      span,
      div span {
        font-size: 0.9rem;
      }
    }
    div {
      text-align: left;
      display: flex;
      justify-content: space-between;
    }
  }
  .we {
    h3 {
      margin: 1em 0;
      font-size: 1.2rem;
      span:nth-child(1) {
        color: white;
      }
    }
    div {
      margin-bottom: 10px;
      span:nth-child(1) {
        color: white;
      }
    }
  }
}

a {
  color: white;
  text-decoration: none;
  border: none;
  transition: 400ms all ease;
  &:hover {
    color: red;
    text-shadow: 1px 5px 8px grey;
  }
}

.b_link {
  color: black;
  text-decoration: none;
  border: none;
  transition: 400ms all ease;
  &:hover {
    color: red;
    text-shadow: 1px 5px 8px grey;
  }
}

.seen {
  &:visited {
    color: crimson;
  }
}

.hard_link:hover {
  transition: 400ms all ease;
  color: #825050;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.btn0 {
  padding: 1em 2em;
  color: $blue0;
  text-decoration: none;
  border: none;
  background: #ffffff00;
  transition: 600ms all ease;
  border-radius: 10px;
  margin: 0;
  &:hover {
    transform: translate(0, -5px);
    box-shadow: 5px 0 8px gray;
  }
}

.btn1 {
  padding: 1em;
  color: $blue0;
  text-decoration: none;
  border: none;
  background: #ffffff00;
  transition: 600ms all ease;
  border-radius: 10px;
  margin: 0;
  &:hover {
    transform: translate(0, -5px);
    box-shadow: 5px 0 8px gray;
    background-color: #beb6b6;
  }
}

.btn2 {
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
  height: 55px;
  min-width: 220px;
  background-color: transparent;
  color: #ffffffd9;
  // font-size: 0.875rem;
  border: 1px solid #ffffffd9;
  backdrop-filter: revert;
  justify-content: center;
  align-items: center;
  transition: 400ms background-color ease;
  &:hover {
    background-color: #ffffff4d;
  }
  @media screen and (max-width: 768px) {
    min-width: 60vh;
  }
}

.btn3 {
  margin-left: 0;
  text-align: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
  padding: 10px;
  width: 25vw;
  background-color: transparent;
  color: black;
  border-radius: 10px;
  border: 1px solid black;
  backdrop-filter: revert;
  justify-content: center;
  align-items: center;
  transition: 400ms background-color ease;
  &:hover {
    background-color: #bebdbd4d;
  }
  @media screen and (max-width: 768px) {
    width: 55vw;
  }
}

.btn4 {
  padding: 0;
  margin: 10px;
  max-width: 7em;
  color: $blue0;
  text-decoration: none;
  font-size: 1.2rem;
  border: none;
  background: rgba(255, 255, 255, 0);
  transition: 400ms all ease;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    transform: translate(0, -5px);
    box-shadow: 5px 0 8px gray;
  }
}

.btn5 {
  margin-left: 0;
  text-align: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
  padding: 1em;
  width: 25%;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  backdrop-filter: revert;
  justify-content: center;
  align-items: center;
  transition: 400ms background-color ease;
  &:hover {
    background-color: #bebdbd4d;
  }
  @media screen and (max-width: 768px) {
    width: 55vw;
  }
}

.btn6 {
  margin-left: 0;
  text-align: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
  padding: 1em;
  width: 25vw;
  @include bg-blur;
  color: black;
  font-size: 1.1rem;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  transition: 400ms background-color ease;
  @media screen and (max-width: 768px) {
    width: 55vw;
  }
}

.bg {
  left: 0;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width: 90%;
  margin-left: 5%;
  @media screen and (max-width: 768px) {
    width: 100%;
    height: 4em;
    padding: 0;
    margin: 0;
  }
}

.reduce {
  width: 90%;
  @media screen and (max-width: 768px) {
    width: 100%;
    font-size: 0.4rem;
  }
}

.font-reduce {
  font-size: 1.3rem;
  top: 8em;
  @media screen and (max-width: 768px) {
    font-size: 2rem;
    top: 6.5em;
  }
}

.hide {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.hidden {
  display: none;
}

.section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  // & > span {
  //   border: 1px solid black;
  // }
}

h1 {
  font-size: 3rem;
  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
  text-shadow: 1px 4px 10px #595757;
  transition: 500ms text-shadow ease;
  img {
    margin: 0 30px;
    height: 20px;
  }
}

h2 {
  font-size: 2.5rem;
  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
  text-shadow: 1px 2px 10px #787676;
  transition: 500ms text-shadow ease;
}

h3 {
  font-size: 2rem;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
  text-shadow: 1px 1px 10px #787676;
}

.cv {
  div .centered {
    margin-bottom: 1em;
    width: 80%;
    margin-left: 10%;
    @media screen and (max-width: 768px) {
      width: 90%;
      margin-left: 5%;
    }
    h2 {
      margin: 2em 0 1em 2em;
    }
  }
}

.flex-title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1em 0;
}

.big-title {
  margin: 7vh 0;
  font-size: 4vw;
  @media screen and (max-width: 1000px) {
    font-size: 7vw;
  }
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 1000;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url(../medias/backgrounds/ParisByNight.jpg);
  color: transparent;
  transition: background-position 500ms ease-out;
  cursor: pointer;
  &:hover {
    background-position: -90px 90px;
  }
}

.ruby {
  width: 25vw;
  border: 1px black solid;
  @media screen and (max-width: 768px) {
    width: 60vw;
  }
  padding: 1em;
  color: black;
  border-radius: 10px;
  background-color: #d5b5e9;
  background-image: linear-gradient(
    -60deg,
    transparent,
    transparent 40%,
    #541e5744 40%,
    transparent 60%,
    transparent 100%
  );
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position-x: 150%;
  &:hover {
    background-position: -150%;
    transition: background-position-x 1s;
  }
}

.flex {
  display: flex;
}

.tel:after {
  content: "DE TÉLÉPHONE";
  @media screen and (max-width: 768px) {
    content: "DE TEL";
  }
}

legend {
  font-size: 2rem;
  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.small-height {
  height: 40vh;
  overflow-y: scroll;
  // border: 2px black solid;
  // border-radius: 10px;
  // backdrop-filter: blur(10px);
}

.table {
  width: 90%;
  margin-left: 5%;
  border-collapse: collapse;
  thead td {
    font-weight: bold;
    text-align: center;
    background-color: $blue5;
    border: 2px solid black;
  }
  th {
    padding: 10px;
    background-color: $blue5;
  }
  tr {
    background-color: $blue7;
    transition: 300ms background-color ease;
    text-align: center;
    &:hover {
      background-color: $blue6;
    }
    td {
      border: 1px solid black;
      padding: 12px;
      @media screen and (max-width: 768px) {
        font-size: 0.8rem;
        padding: 5px;
        margin: 0;
      }
    }
  }
  @media screen and (max-width: 768px) {
    width: 95%;
    margin-left: 2.5%;
  }
}

.table1 {
  width: 20%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  tr {
    transition: 300ms all ease;
    &:hover {
      background-color: $purple4;
      color: white;
      transition: 100ms all ease;
    }
  }
  td {
    padding: 2px;
  }
  thead td {
    padding: 15px;
    font-weight: bold;
    font-size: 1.2rem;
  }
  @media screen and (max-width: 768px) {
    width: 76%;
    margin-left: 12%;
  }
}

.fullTable {
  width: 100%;
  border-collapse: collapse;
  thead td {
    font-weight: bold;
    text-align: center;
    background-color: $blue5;
    border: 2px solid black;
  }
  th {
    padding: 10px;
    background-color: $blue5;
  }
  tr {
    background-color: $blue7;
    transition: 300ms background-color ease;
    text-align: center;
    &:hover {
      background-color: $blue6;
    }
    td {
      border: 1px solid black;
      padding: 12px;
      @media screen and (max-width: 768px) {
        font-size: 0.8rem;
        padding: 5px;
        margin: 0;
      }
    }
  }
}

.fixed_menu {
  z-index: 10;
  position: fixed;
  top: 4em;
  right: 1em;
  width: 15em;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #5b0c71;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 600ms all ease;
  height: 2.5em;
  overflow: hidden;
  &:hover {
    transition: 200ms all ease;
    height: 50vh;
    // overflow: auto;
  }
  h4 {
    margin-bottom: 2em;
  }
  span {
    margin-bottom: 10px;
  }
  @media screen and (max-width: 1120px) {
    top: 10em;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.spaced {
  div {
    margin-bottom: 4em;
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 0;
  }
}

.veryLargeScreen {
  @media screen and (max-width: 1100px) {
    display: none;
  }
}

.notVeryLargeScreenscreen {
  @media screen and (min-width: 1099px) {
    display: none;
  }
}

.largeScreen {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.underlineSmallScreen {
  border-bottom: 1px solid white;
  padding: 5px 0;
  margin-bottom: 5px;
  @media screen and (max-width: 768px) {
    padding: 10px 0;
    margin-bottom: 10px;
  }
}

.smallScreen {
  @media screen and (min-width: 769px) {
    display: none;
  }
}

.underline {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
  gap: 5px;
}

#clock {
  font-family: AlarmClock, cursive;
}

@keyframes slideLeft {
  from {
    opacity: 0%;
    transform: translateX(-300px);
  }
}
@keyframes slideRight {
  from {
    opacity: 0%;
    transform: translateX(300px);
  }
}
@keyframes slideUp {
  from {
    opacity: 0%;
    transform: translateY(-300px);
  }
}
@keyframes slideDown {
  from {
    opacity: 0%;
    transform: translateY(300px);
  }
}
@keyframes smallLift {
  from {
    opacity: 0%;
    transform: translateY(50px);
  }
}
@keyframes strech {
  from {
    letter-spacing: 0;
  }
}
