@import "mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
$montserrat: "Montserrat", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
$comfortaa: "Comfortaa", cursive;
@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
$hubbali: "Hubballi", cursive;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
$quicksand: "Quicksand", sans-serif;

@font-face {
  font-family: "Neutra";
  src: url("../médias/fonts/Neutra_Text_Light_SC.otf") format("otf");
}
@font-face {
  font-family: "alarm_clock";
  src: url("../médias/fonts/alarm_clock.ttf") format("truetype");
}
@font-face {
  font-family: "atomicClockRadio";
  src: url("../médias/fonts/AtomicClockRadio.ttf") format("truetype");
}
@font-face {
  font-family: "ethnocentric_rg";
  src: url("../médias/fonts/ethnocentric_rg.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoMono";
  src: url("../médias/fonts/RobotoMono.ttf") format("truetype");
}
@font-face {
  font-family: "Silkscreen";
  src: url("../médias/fonts/Silkscreen.ttf") format("truetype");
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../médias/fonts/HelveticaNeueLight.ttf") format("truetype");
}
@font-face {
  font-family: "Aneisha";
  src: url("../médias/fonts/Aneisha.otf") format("otf");
}
@font-face {
  font-family: "ComicLetters";
  src: url("../médias/fonts/ComicLetters.ttf") format("truetype");
}
@font-face {
  font-family: "Trend";
  src: url("../médias/fonts/HashtagTrendDemoRegular.ttf") format("truetype");
}
@font-face {
  font-family: "House";
  src: url("../médias/fonts/House_Minimalist.ttf") format("truetype");
}
@font-face {
  font-family: "Remachine";
  src: url("../médias/fonts/RemachineScript_Personal_Use.ttf") format("truetype");
}
@font-face {
  font-family: "SuperImagination";
  src: url("../médias/fonts/SuperImaginationDemoRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Island";
  src: url("../médias/fonts/IslandMoments-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand";
  src: url("../médias/fonts/Quicksand.ttf") format("truetype");
}
@font-face {
  font-family: "Ralewayt";
  src: url("../médias/fonts/Ralewayt.ttf") format("truetype");
}
@font-face {
  font-family: "FuzzyBubbles";
  src: url("../médias/fonts/FuzzyBubbles.ttf") format("truetype");
}
@font-face {
  font-family: "federalescort";
  src: url("../médias/fonts/federalescort.ttf") format("truetype");
}
@font-face {
  font-family: "federalescort3d";
  src: url("../médias/fonts/federalescort3d.ttf") format("truetype");
}
@font-face {
  font-family: "FredokaOne";
  src: url("../médias/fonts/FredokaOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "LuckiestGuy";
  src: url("../médias/fonts/LuckiestGuy.ttf") format("truetype");
}
@font-face {
  font-family: "Propagan";
  src: url("../médias/fonts/Propagan.ttf") format("truetype");
}
@font-face {
  font-family: "TheLastCall";
  src: url("../médias/fonts/TheLastCall.ttf") format("truetype");
}
@font-face {
  font-family: "VanillaExtract";
  src: url("../médias/fonts/VanillaExtract.ttf") format("truetype");
}
@font-face {
  font-family: "VinegarStroke";
  src: url("../médias/fonts/VinegarStroke.ttf") format("truetype");
}
.comfortaa {
  font-family: $comfortaa;
}
.hubbali {
  font-family: $hubbali;
  letter-spacing: 2px;
}
.quicksand {
  font-family: $quicksand;
  letter-spacing: 2px;
}
.Neutra {
  font-family: "Neutra", cursive;
}
.alarm_clock {
  font-family: "alarm_clock", cursive;
}
.atomicClockRadio {
  font-family: "atomicClockRadio", cursive;
}
.ethnocentric_rg {
  font-family: "ethnocentric_rg", cursive;
}
.RobotoMono {
  font-family: "RobotoMono", cursive;
}
.Silkscreen {
  font-family: "Silkscreen", cursive;
}
.HelveticaNeue {
  font-family: "HelveticaNeue", cursive;
}

* {
  padding: 0;
  margin: 0;
  font-family: $comfortaa;
  scroll-behavior: smooth;
}

$blue0: #220e5a;
$blue1: #301679;
$blue2: #432791;
$blue3: #5f42af;
$blue4: #7e64c5;
$blue5: #a28ddb;
$blue6: #c9bcee;
$blue7: #e5e0f3;
$blue8: #f9f8fc;
$blue0linear: linear-gradient(45deg, $blue2, $blue0);

$red0: #300303;
$red1: #5c0808;
$red2: #910e0e;
$red3: #b61b1b;
$red4: #ce3232;
$red5: #e44f4f;
$red6: #f37d7d;
$red7: #f1a7a7;
$red8: #f7d7d7;

$grey0: #302e2e;
$grey1: #454343;
$grey2: #696565;
$grey3: #8b8686;
$grey4: #9e9999;
$grey5: #bab4b4;
$grey6: #dcd4d4;
$grey7: #f7f1f1;

$orange0: #c46200;
$orange1: #ee8318;
$orange2: #f0ac35;
$orange3: #f1a04e;
$orange4: #f4ab62;
$orange5: #fac897;
$orange6: #f4dac0;
$orange7: #f0e7dd;
$orange0linear: linear-gradient(45deg, $orange2, $orange0);
$orange60deg: linear-gradient(60deg, $orange5, white, $orange5);

$purple0: #230223;
$purple1: #4b054b;
$purple2: #6a0e6a;
$purple3: #862086;
$purple4: #a43ca4;
$purple5: #b967b9;
$purple6: #cb90cb;
$purple7: #e0c4e0;

// @for $i from 1 through 8 {
//   .f-blue#{$i} {color: $blue#{$i}};
// }
.f-blue0 {
  color: $blue0;
}
.f-blue1 {
  color: $blue1;
}
.f-blue2 {
  color: $blue2;
}
.f-blue3 {
  color: $blue3;
}
.f-blue4 {
  color: $blue4;
}
.f-blue5 {
  color: $blue5;
}
.f-blue6 {
  color: $blue6;
}
.f-blue7 {
  color: $blue7;
}
.f-blue8 {
  color: $blue8;
}
.f-white {
  color: white;
}
.f-red {
  color: red;
}
.f-red-light {
  color: #ef8181;
}
.f-orange {
  color: rgb(215, 137, 54);
}
.f-light-red1 {
  color: #ee7f7f;
}
.f-light-red2 {
  color: #f1a7a7;
}
.f-blue {
  color: blue;
}
.f-green {
  color: green;
}
.f-brown {
  color: brown;
}
.f-black {
  color: black;
}
.f-grey {
  color: #a1a0a0;
}
.f-light-grey {
  color: #c7c7c7;
}
.f-cyan {
  color: cyan;
}
.f-yellow {
  color: yellow;
}
.f-purple {
  color: purple;
}
.f-larger {
  font-size: 1.5rem;
}
.f-larger1 {
  font-size: 1.2rem;
}

@for $i from -10 through 15 {
  .z#{$i} {
    z-index: #{$i};
  }
  .top#{$i}em {
    top: #{$i}em;
  }
}

@for $i from 1 through 9 {
  .bg-sono#{$i} {
    background-image: url(../médias/backgrounds/sono0#{$i}.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
}

@for $i from 1 through 10 {
  .small-table#{$i*10} {
    width: #{$i * 10}vw;
    margin-left: #{$i}vw;
    border-collapse: collapse;
    thead td {
      font-weight: bold;
      text-align: center;
      background-color: $grey5;
      border: 2px solid black;
    }
    th {
      padding: 10px;
      background-color: $grey5;
    }
    tr {
      background-color: $grey7;
      transition: 300ms background-color ease;
      &:hover {
        background-color: $grey6;
      }
      td {
        border: 1px solid black;
        padding: 8px;
        @media screen and (max-width: 768px) {
          font-size: 0.8rem;
          padding: 5px;
          margin: 0;
        }
      }
    }
    @media screen and (max-width: 768px) {
      width: 80vw;
      margin-left: 5vw;
    }
  }
  .bordered#{$i} {
    border: #{$i}px solid black;
  }
  .borderedV#{$i} {
    border-top: #{$i}px solid black;
    border-bottom: #{$i}px solid black;
  }
  .ls#{$i} {
    letter-spacing: #{$i}px;
  }
  .ls#{$i}em {
    letter-spacing: #{$i}em;
  }
  .f#{$i}rem {
    font-size: #{$i}rem;
  }
  .f#{$i}decrem {
    font-size: #{$i/10}rem;
  }
  .m#{$i}em {
    margin: #{$i}em;
  }
  .mv#{$i}em {
    margin: #{$i}em 0;
  }
  .mv#{$i}vh {
    margin: #{$i}vh 0;
  }
  .mh#{$i}em {
    margin: 0 #{$i}em;
  }
  .p#{$i}em {
    padding: #{$i}em;
  }
  .pv#{$i}px {
    padding: #{$i}px 0;
  }
  .pv#{$i}em {
    padding: #{$i}em 0;
  }
  .ph#{$i}px {
    padding: 0 #{$i}px;
  }
  .mw#{$i}em {
    max-width: #{$i}em;
  }
}

@for $i from 1 through 6 {
  .bg-desk#{$i} {
    background-image: url(../médias/backgrounds/desk0#{$i}.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  .bg-dark#{$i} {
    background-image: url(../médias/backgrounds/dark0#{$i}.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  .bg-hiking#{$i} {
    background-image: url(../médias/backgrounds/rando0#{$i}.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
}

@for $i from 0 through 100 {
  .central#{$i} {
    width: #{$i * 1%};
    margin-left: #{(100- ($i)) * 0.5%};
    font-size: 1.2rem;
    @media screen and (max-width: 768px) {
      width: 90%;
      margin-left: 5%;
    }
    h1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 550px) {
        flex-direction: column;
      }
    }
  }

  .center#{$i} {
    width: #{$i * 1%};
    margin-left: #{(100-$i) / 2 * 1%};
    text-align: center;
    @media screen and (max-width: 768px) {
      width: 90%;
      margin-left: 5%;
    }
  }
  .ml#{$i}p {
    margin-left: #{$i * 1%};
  }
  .ml#{$i} {
    margin-left: #{$i}vw;
  }
  .w#{$i} {
    width: #{$i * 1%};
    @media screen and (max-width: 768px) {
      width: #{($i + 20) * 1%};
    }
    @media screen and (max-width: 350px) {
      width: #{($i + 40) * 1%};
    }
  }
  .mw#{$i}px {
    max-width: #{$i}px;
  }
  .top#{$i}px {
    top: #{$i}px;
  }
  .fixed-w#{$i} {
    width: #{$i}vw;
  }
  .h#{$i}vh {
    max-height: #{$i}vh;
    max-width: 95%;
    @media screen and (max-width: 768px) {
      max-height: #{$i * 0.8}vh;
    }
  }
  .h#{$i}vh_fixed {
    height: #{$i}vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .h#{$i}em {
    height: #{$i}em;
    @media screen and (max-width: 768px) {
      height: #{$i * 0.9}em;
    }
  }
  .h#{$i}p {
    height: #{$i * 1%};
  }
  .mt#{$i} {
    margin-top: #{$i}vh;
  }
  .mr#{$i} {
    margin-right: #{$i}vw;
  }
  .mb#{$i} {
    margin-bottom: #{$i}vh;
  }
  .ml#{$i} {
    margin-left: #{$i}vw;
  }
  .w#{$i}em {
    width: #{$i}em;
  }
  .h#{$i}em {
    height: #{$i}em;
  }
  .mt#{$i}em {
    margin-top: #{$i}em;
  }
  .mr#{$i}em {
    margin-right: #{$i}em;
  }
  .mb#{$i}em {
    margin-bottom: #{$i}em;
  }
  .ml#{$i}em {
    margin-left: #{$i}em;
  }
  .pt#{$i}em {
    padding-top: #{$i}em;
  }
  .pr#{$i}em {
    padding-right: #{$i}em;
  }
  .pb#{$i}em {
    padding-bottom: #{$i}em;
  }
  .pl#{$i}em {
    padding-left: #{$i}em;
  }
  .p#{$i}px {
    padding: #{$i}px;
  }
  .f#{$i}em {
    font-size: #{$i}em;
  }
  .f#{$i}dem {
    font-size: #{$i/10}em;
  }
  .rounded#{$i} {
    border-radius: #{$i}px;
  }
  .mv#{$i}px {
    margin: #{$i}px 0;
  }
  .mh#{$i}px {
    margin: 0 #{$i}px;
  }
  .mt#{$i}vh {
    margin-top: #{$i}vh;
  }
  .mr#{$i}vw {
    margin-right: #{$i}vw;
  }
  .mb#{$i}vh {
    margin-bottom: #{$i}vh;
  }
  .ml#{$i}vw {
    margin-left: #{$i}vw;
  }
  .p#{$i}px {
    padding: #{$i}px;
  }
  .f#{$i}decem {
    font-size: #{$i/10}em;
  }
  .f#{$i}decrem {
    font-size: #{$i/10}rem;
  }
  .w#{$i}em {
    width: #{$i}em;
  }
  .w#{$i}vw {
    width: #{$i}vw;
  }
}

@for $i from 1 through 1000 {
  .h#{$i}px {
    height: #{$i}px;
  }
  .w#{$i}px {
    width: #{$i}px;
  }
  .h#{$i}px {
    height: #{$i}px;
  }
  .mt#{$i}px {
    margin-top: #{$i}px;
  }
  .mr#{$i}px {
    margin-right: #{$i}px;
  }
  .mb#{$i}px {
    margin-bottom: #{$i}px;
  }
  .ml#{$i}px {
    margin-left: #{$i}px;
  }
  .f#{$i}px {
    font-size: #{$i}px;
  }
}

.centered {
  text-align: center;
}

.fixed {
  position: fixed;
  text-align: center;
}
.sticky {
  position: sticky;
  text-align: center;
}

.jc-c {
  justify-content: center;
}
.jc-se {
  justify-content: space-evenly;
}
.jc-sb {
  justify-content: space-between;
}
.jc-sa {
  justify-content: space-around;
}
.jc-s {
  justify-content: stretch;
}
.jc-c,
.jc-se,
.jc-sb,
.jc-sa,
.jc-s {
  display: flex;
  gap: 10px;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.bg-grey {
  background-color: #ece9e5;
}
.bg-red {
  background-color: $red8;
}
.bg-light-red3 {
  background-color: $red3;
}
.bg-light-red4 {
  background-color: $red4;
}
.bg-light-red5 {
  background-color: $red5;
}
.bg-light-red6 {
  background-color: $red6;
}
.bg-light-red7 {
  background-color: $red7;
}
.bg-light-red8 {
  background-color: $red8;
}
.bg-blue {
  background-color: $blue1;
}
.bg-light-blue {
  background-color: linear-gradient(45deg, #111137, #b7b7fb);
}

.bg-blur {
  @include bg-blur;
}

.bg-light-red {
  background-color: $red8;
}
.bg-grad-light-red {
  background: linear-gradient(white, $red8, white);
}
.bg-grad-light-blue {
  background-color: linear-gradient(45deg, #26264b, #6d6dbd);
}
.bg-grad-dark {
  background: linear-gradient(#000000, #222223);
}
.bg-black {
  background-color: black;
}
.bg-white {
  background-color: white;
}
.bg-green {
  background-color: green;
}
.bg-blue {
  background-color: blue;
}
.bg-brown {
  background-color: brown;
}
.bg-cyan {
  background-color: cyan;
}
.bg-light-cyan {
  background-color: rgb(215, 243, 243);
}
.bg-yellow {
  background-color: yellow;
}
.bg-cool {
  background: linear-gradient($blue5, $blue7);
}
.bg-drunk-tank-pink {
  background-color: rgb(255, 145, 174);
}
.bg-cool1 {
  background: linear-gradient($blue7, $blue6);
}
.bg-transparent {
  background-color: #00000080;
}
.bg-transparent0 {
  background-color: #00000000;
}

.post-it {
  width: 170px;
  height: 175px;
  box-shadow: 2px 4px 6px #444;
  // border-bottom-right-radius: 60px 10px;
  @media screen and (max-width: 768px) {
    width: 165px;
    height: 200px;
  }
  padding: 15px;
  background-color: yellow;
  transform: rotate(-5deg);
  overflow: hidden;
  margin-bottom: 2em;
  font-size: 0.9rem;
  span {
    font-weight: bold;
  }
}

.slideLeft {
  animation: 2s slideLeft ease;
}
.slideRight {
  animation: 2s slideRight ease;
}
.slideUp {
  animation: 2s slideUp ease;
}
.slideDown {
  animation: 2s slideDown ease;
}

.strech {
  letter-spacing: 7px;
  animation: 1500ms strech ease-out;
}

.jump {
  transition: 400ms all ease;
  &:hover {
    animation: 300ms ease jump infinite alternate;
  }
}

@keyframes jump {
  to {
    transform: translateY(-20px);
  }
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.fixed-bottom {
  text-align: center;
  position: fixed;
  bottom: 0;

  @media screen and (max-width: 700px) {
    display: none;
  }
}

.bold {
  font-weight: bold;
}

.btn0 {
  padding: 1em 2em;
  color: $blue0;
  text-decoration: none;
  border: none;
  background: #ffffff00;
  transition: 600ms all ease;
  border-radius: 10px;
  margin: 0;
  &:hover {
    transform: translate(0, -5px);
    box-shadow: 5px 0 8px gray;
  }
}

.btn1 {
  @include btn1;
}
.btn2 {
  @include btn2;
}
.btn3 {
  @include btn3;
}
.btn4 {
  @include btn4;
}
.btn5 {
  @include btn5;
}
.btn6 {
  @include btn6;
}

.hide {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.hidden {
  display: none;
}

.veryLargeScreen {
  @media screen and (max-width: 1100px) {
    display: none;
  }
}
.notVeryLargeScreenscreen {
  @media screen and (min-width: 1099px) {
    display: none;
  }
}
.largeScreen {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.Kscreen {
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.homeTitle {
  // background-color: red;

  position: fixed;
  top: 0;
  left: 0;
  height: 40%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    $orange: #f7b843;
    @include slideDown;
    margin: 0 1em;
    font-size: 4rem;
    // ici
    font-family: "Propagan";
    color: $orange;
    text-shadow: 2px 3px 5px black;
    @media screen and (max-width: 768px) {
      font-size: 2rem;
    }
  }
}

.home {
  @include bg-blur;
  // background-color: greenyellow;
  border-radius: 10px;
  position: fixed;
  right: 40px;
  bottom: 80px;

  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  text-align: center;

  label {
    font-weight: bold;
  }

  input {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 2em;
  }

  button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100px;
    transition: 700ms all ease;
    box-shadow: 0 2px 2px black;
    font-weight: bold;
    font-size: 1.4rem;
    font-family: "House";
    &:hover {
      transition: 100ms all ease;
      transform: translateY(2px);
      box-shadow: none;
    }
    &:focus {
      background-color: #9dec9d;
    }
  }
}

.XSscreen {
  @media screen and (min-width: 341px) {
    display: none;
  }
}

#auto-jsCalendar {
  width: 100%;
  height: 50%;
}

.slideUp {
  @include slideUp;
}
.slideDown {
  @include slideDown;
}
.slideLeft {
  @include slideLeft;
}
.slideRight {
  @include slideRight;
}

footer {
  display: flex;
  justify-content: center;
  gap: 5px;
  caret-color: transparent;
}

#clock {
  font-family: AlarmClock, cursive;
}

@keyframes slideLeft {
  from {
    opacity: 0%;
    transform: translateX(-300px);
  }
}
@keyframes slideRight {
  from {
    opacity: 0%;
    transform: translateX(300px);
  }
}
@keyframes slideUp {
  from {
    opacity: 0%;
    transform: translateY(-300px);
  }
}
@keyframes slideDown {
  from {
    opacity: 0%;
    transform: translateY(300px);
  }
}
@keyframes smallLift {
  from {
    opacity: 0%;
    transform: translateY(50px);
  }
}
@keyframes strech {
  from {
    letter-spacing: 0;
  }
}
